@model Core.Erp.Info.Banco.ba_TipoFlujo_Plantilla_Info
@{
    ViewBag.Title = "Modificar tipo flujo plantilla";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "TipoFlujoPlantilla", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    @Html.HiddenFor(q => q.IdEmpresa);
    @Html.HiddenFor(q => q.IdPlantilla);
    @Html.HiddenFor(q => q.IdTransaccionSession);
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Descripcion">Fecha desde*</label>
                    @Html.DevExpress().DateEditFor(q => q.Desde, settings =>
               {
                   settings.Name = "Desde";
                   settings.Properties.UseMaskBehavior = true;
                   settings.Properties.EditFormat = EditFormat.Date;
                   settings.Properties.EditFormatString = "dd/MM/yyyy";
                   settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
               }).GetHtml()
                    @Html.ValidationMessageFor(q => q.Desde, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Descripcion">Fecha hasta*</label>
                    @Html.DevExpress().DateEditFor(q => q.Hasta, settings =>
                    {
                        settings.Name = "Hasta";
                        settings.Properties.UseMaskBehavior = true;
                        settings.Properties.EditFormat = EditFormat.Date;
                        settings.Properties.EditFormatString = "dd/MM/yyyy";
                        settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.Hasta, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        @Html.Action("GridViewPartial_TipoFlujoPlantillaDet")
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Modificar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "TipoFlujoPlantilla", new { Area ="Banco" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


