@model Core.Erp.Info.Banco.ba_TipoFlujo_Plantilla_Info
@{
    ViewBag.Title = "Modificar tipo flujo plantilla";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "TipoFlujoPlantilla", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    @Html.HiddenFor(q => q.IdEmpresa);
    @Html.HiddenFor(q => q.IdPlantilla);
    @Html.HiddenFor(q => q.IdTransaccionSession);
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        @Html.Action("GridViewPartial_TipoFlujoPlantillaDet")
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Modificar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "TipoFlujoPlantilla", new { Area ="Banco" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


