@model Core.Erp.Info.CuentasPorCobrar.cxc_Parametro_Info
@{
    ViewBag.Title = "Parámetros de cuentas por cobrar";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Index", "ParametroCXC", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pa_IdCaja_x_cobros_x_CXC">Caja para los cobros</label>
                    @Html.DevExpress().ComboBoxFor(q => q.pa_IdCaja_x_cobros_x_CXC, settings =>
                            {
                                settings.Name = "pa_IdCaja_x_cobros_x_CXC";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                settings.Properties.Columns.Add("IdCaja", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                settings.Properties.Columns.Add("ca_Descripcion", "Tipo").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                                //Campo ID
                                settings.Properties.ValueField = "IdCaja";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.TextField = "ca_Descripcion";
                                //Boton para seleccionar ningun registro
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                            }).BindList(ViewBag.lst_caja).GetHtml()
                    @Html.ValidationMessageFor(q => q.pa_IdCaja_x_cobros_x_CXC, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pa_IdTipoMoviCaja_x_Cobros_x_cliente">Tipo de movimiento de caja</label>
                    @Html.DevExpress().ComboBoxFor(q => q.pa_IdTipoMoviCaja_x_Cobros_x_cliente, settings =>
                            {
                                settings.Name = "pa_IdTipoMoviCaja_x_Cobros_x_cliente";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                settings.Properties.Columns.Add("IdTipoMovi", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                settings.Properties.Columns.Add("tm_descripcion", "Tipo").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                                //Campo ID
                                settings.Properties.ValueField = "IdTipoMovi";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.TextField = "tm_descripcion";
                                //Boton para seleccionar ningun registro
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                            }).BindList(ViewBag.lst_movimiento).GetHtml()
                    @Html.ValidationMessageFor(q => q.pa_IdTipoMoviCaja_x_Cobros_x_cliente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pa_IdTipoCbteCble_CxC">Comprobante contable que genera cobros</label>
                    @Html.DevExpress().ComboBoxFor(q => q.pa_IdTipoCbteCble_CxC, settings =>
                            {
                                settings.Name = "pa_IdTipoCbteCble_CxC";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                settings.Properties.Columns.Add("IdTipoCbte", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                settings.Properties.Columns.Add("tc_TipoCbte", "Tipo").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                                //Campo ID
                                settings.Properties.ValueField = "IdTipoCbte";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.TextField = "tc_TipoCbte";
                                //Boton para seleccionar ningun registro
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                            }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                    @Html.ValidationMessageFor(q => q.pa_IdTipoCbteCble_CxC, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="DiasTransaccionesAFuturo">Dias máximos para transacciones a futuro</label>
                    @Html.TextBoxFor(q => q.DiasTransaccionesAFuturo, new { @class = "form-control", @id = "DiasTransaccionesAFuturo" })
                    @Html.ValidationMessageFor(q => q.DiasTransaccionesAFuturo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}