@model Core.Erp.Info.General.tb_TarjetaCredito_Info
@{
    ViewBag.Title = "Anular tarjeta de crédito";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Anular", "TarjetaCredito", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdTarjeta)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Nombre">Nombre*</label>
                    @Html.TextBoxFor(q => q.NombreTarjeta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NombreTarjeta, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index","TarjetaCredito", new { Area ="General"}, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

