@model Core.Erp.Info.Facturacion.fa_CambioProducto_Info
@{
    ViewBag.Title = "Nuevo cambio";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

<script type="text/javascript">

    $(function () {
        CargarBodega();
        $("#IdSucursal").change(function () {
            CargarBodega();
        });
    });

    var selectedIDs;
    function OnBeginCallback(s, e) {
        e.customArgs["selectedIDs"] = selectedIDs;
    };

    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("IdSecuencial", GetSelectedFieldValuesCallback);
    };

    function GetSelectedFieldValuesCallback(values) {
        //Capture all selected keys
        selectedIDs = values.join(',');
    };

    function CargarBodega() {
        $("#IdBodega").empty();

        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdSucursal: $("#IdSucursal").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CargarBodega", "CambioProducto", new { Area = "Facturacion" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.each(data, function (i, row) {
                    $("#IdBodega").append("<option value=" + row.IdBodega + ">" + row.bo_Descripcion + "</option>");
                });
            },
            error: function (error) {
            }
        });
    };

    function MostrarModalFacturas() {
        BuscarFacturas();
        $("#ModalFacturas").modal("show");
    };

    function BuscarFacturas() {
        var NumeroFactura = $("#NumeroFactura").val();

        var datos = {
            FechaIni: FechaIni.GetValue(),
            FechaFin: FechaFin.GetValue(),
            IdEmpresa: $("#IdEmpresa").val(),
            IdSucursal: $("#IdSucursal").val(),
            IdBodega: $("#IdBodega").val(),
            NumeroFactura: $("#NumeroFactura").val(),
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("GetFacturasCambio", "CambioProducto", new { Area = "Facturacion" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == false) {
                    alert("No existen resultados para los filtros aplicados");
                }
            },
            error: function (error) {
            }
        });
        GridView_CambioProductoDetFacturas.UnselectRows();
        GridView_CambioProductoDetFacturas.PerformCallback();
        $("#NumeroFactura").val("");
    };

    function AddFacturas() {
        var datos = {
            IDs: selectedIDs,
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("EditingAddNew", "CambioProducto",new { Area = "Facturacion"})',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            },
            error: function (error) {
            }
        });
        selectedIDs = "";
        GridView_CambioProductoDetFacturas.PerformCallback();
        GridView_CambioProductoDetFacturas.UnselectRows();

        $("#ModalFacturas").modal("hide");

        GridView_CambioProductoDet.PerformCallback();
    };
</script>
@using (Html.BeginForm("Nuevo", "CambioProducto", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    @Html.HiddenFor(q => q.IdUsuario)
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    @Html.HiddenFor(q => q.IdCambio)

    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissible">
                        <h4>
                            <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="modal fade" id="ModalFacturas" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Facturas</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Desde*</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.DevExpress().DateEditFor(q => q.FechaIni, settings =>
                                           {
                                               settings.Name = "FechaIni";
                                               settings.Properties.UseMaskBehavior = true;
                                               settings.Properties.EditFormat = EditFormat.Date;
                                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                           }).GetHtml()
                                        @Html.ValidationMessageFor(q => q.FechaIni, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <div class="form-group">
                                    <label for="">Hasta*</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.DevExpress().DateEditFor(q => q.FechaFin, settings =>
                                           {
                                               settings.Name = "FechaFin";
                                               settings.Properties.UseMaskBehavior = true;
                                               settings.Properties.EditFormat = EditFormat.Date;
                                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                           }).GetHtml()
                                        @Html.ValidationMessageFor(q => q.FechaFin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for=""> </label>
                                    <button type="button" class="btn btn-primary form-control" onclick="BuscarFacturas();">Buscar</button>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    @Html.Action("GridViewPartial_CambioProductoDetFacturas")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="AddFacturas();">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdSucursal">Sucursal*</label>
                    @Html.DropDownListFor(q => q.IdSucursal, new SelectList(ViewBag.lst_sucursal, "IdSucursal", "Su_Descripcion"), new { @class = "form-control", @id = "IdSucursal" })
                    @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdBodega">Bodega</label>
                    @Html.DropDownListFor(q => q.IdBodega, new SelectList(ViewBag.lst_bodega, "IdBodega", "bo_Descripcion"), new { @class = "form-control", @id = "IdBodega" })
                    @Html.ValidationMessageFor(q => q.IdBodega, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdProforma"></label>
                    @Html.TextBoxFor(q => q.NumeroFactura, new { @class = "form-control", @id = "NumeroFactura", @placeholder = "# Factura" })
                    @Html.ValidationMessageFor(q => q.NumeroFactura, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="btn_buscar">                    </label>
                    <button type="button" class="btn btn-primary form-control" id="btn_buscar" onclick="MostrarModalFacturas();">
                        <i class="fa fa-search"></i> Facturas
                    </button>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-2">
                <div class="form-group">
                    <label for="">Fecha</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.Fecha, settings =>
                   {
                       settings.Name = "Fecha";
                       settings.Properties.UseMaskBehavior = true;
                       settings.Properties.EditFormat = EditFormat.Date;
                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                       settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   }).GetHtml()
                        @Html.ValidationMessageFor(q => q.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Observacion">Observación</label>
                    @Html.TextAreaFor(q => q.Observacion, new { @class = "form-control", @rows = 1 })
                    @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
                </div>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Action("GridViewPartial_CambioProductoDet")
                
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="checkbox">
                    <label for="GenerarDevolucion">@Html.CheckBoxFor(q => q.GenerarDevolucion) Cerrar cambios</label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","CambioProducto",new { Area = "Facturacion" },null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}