@model Core.Erp.Info.Compras.com_parametro_Info
@{
    ViewBag.Title = " Parámetros de compras";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Index", "ParametrosCompras", FormMethod.Post, new { @class = "form", @role = "form" }))
{

    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    @Html.HiddenFor(q => q.IdEmpresa);
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEstadoAnulacion_OC">Estado de anulación</label>
                    @Html.DropDownListFor(q => q.IdEstadoAnulacion_OC, new SelectList(ViewBag.lst_est_anu, "IdCatalogocompra", "Nombre"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdEstadoAnulacion_OC, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEstadoAprobacion_OC">Estado de aprobación</label>
                    @Html.DropDownListFor(q => q.IdEstadoAprobacion_OC, new SelectList(ViewBag.lst_est_aprob, "IdCatalogocompra", "Nombre"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdEstadoAprobacion_OC, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEstado_cierre">Estado de cierre</label>
                    @Html.DropDownListFor(q => q.IdEstado_cierre, new SelectList(ViewBag.lst_estado, "IdEstado_cierre", "Descripcion"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdEstado_cierre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdMovi_inven_tipo_OC">Movimiento de inventario</label>
                    @Html.DropDownListFor(q => q.IdMovi_inven_tipo_OC, new SelectList(ViewBag.lst_movi, "IdMovi_inven_tipo", "tm_descripcion"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdMovi_inven_tipo_OC, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="DiasTransaccionesAFuturo">Dias máximos para transacciones a futuro</label>
                    @Html.TextBoxFor(q => q.DiasTransaccionesAFuturo, new { @class = "form-control", @id = "DiasTransaccionesAFuturo" })
                    @Html.ValidationMessageFor(q => q.DiasTransaccionesAFuturo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}