@model Core.Erp.Info.Banco.ba_tipo_nota_Info

@{
    ViewBag.Title = "Nuevo";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Nuevo", "TipoNotaBanco", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Tipo">Tipo</label>
                    @Html.DropDownListFor(q => q.Tipo, new SelectList(ViewBag.lst_tipo_nota, "Key", "Value"), new { @class = "form-control", })
                    @Html.ValidationMessageFor(q => q.Tipo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Descripcion">Descripción</label>
                    @Html.TextBoxFor(q => q.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","TipoNota", new { Area = "Banco"  },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
