@model Core.Erp.Info.Facturacion.fa_cliente_tipo_Info
@{
    ViewBag.Title = "Modificar tipo";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "ClienteTipo", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.Idtipo_cliente)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Cod_cliente_tipo">Código</label>
                    @Html.TextBoxFor(q => q.Cod_cliente_tipo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Cod_cliente_tipo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Descripcion_tip_cliente">Descripción*</label>
                    @Html.TextBoxFor(q => q.Descripcion_tip_cliente, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Descripcion_tip_cliente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdCtaCble_CXC_Cred">Cuenta contable credito*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdCtaCble_CXC_Cred, settings =>
               {
                   settings.Name = "IdCtaCble_CXC_Cred";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("IdCtaCble", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("pc_Cuenta", "Cuenta").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                   settings.Properties.Columns.Add("pc_Cuenta_padre", "Cuenta padre").Width = System.Web.UI.WebControls.Unit.Percentage(40);
                   //Campo ID
                   settings.Properties.ValueField = "IdCtaCble";
                   settings.Properties.ValueType = typeof(string);
                   settings.Properties.TextField = "pc_Cuenta";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
               }).BindList(ViewBag.lst_cuentas).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdCtaCble_CXC_Cred, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "ClienteTipo", new {  Area ="Facturacion" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}