@model Core.Erp.Info.Presupuesto.pre_Presupuesto_Info
@using Core.Erp.Web.Helps
@{
    ViewBag.Title = "Nuevo presupuesto";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
<script type="text/javascript">
    function OnFileUploadStart(s, e) {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("ActualizarVariablesSession", "Presupuesto", new { Area = "Presupuesto" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            },
            error: function (error) {
            }
        });
    }

    function OnFileUploadComplete(s, e)
    {
        GridViewPartial_PresupuestoDet.PerformCallback();
    }

</script>
@using (Html.BeginForm("Nuevo", "Presupuesto", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    @Html.HiddenFor(q => q.IdEmpresa);
    @Html.HiddenFor(q => q.IdTransaccionSession);
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Descripcion">Sucursal*</label>
                    @Html.DropDownListFor(q => q.IdSucursal, new SelectList(ViewBag.lst_Sucursal, "IdSucursal", "Su_Descripcion"), new { @class = "form-control", @id = "IdSucursal" })
                    @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Descripcion">Periodo*</label>
                    @Html.DropDownListFor(q => q.IdPeriodo, new SelectList(ViewBag.lst_Periodo, "IdPeriodo", "DescripcionPeriodo"), new { @class = "form-control", @id = "IdPeriodo" })
                    @Html.ValidationMessageFor(q => q.IdPeriodo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Descripcion">Grupo*</label>
                    @Html.DropDownListFor(q => q.IdGrupo, new SelectList(ViewBag.lst_Grupo, "IdGrupo", "Descripcion"), new { @class = "form-control", @id = "IdGrupo" })
                    @Html.ValidationMessageFor(q => q.IdGrupo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Descripcion">Observación</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="Descripcion">Importar detalle</label>
                @Html.DevExpress().UploadControl(settings =>
               {
                   settings.Name = "UploadControlFile";
                   settings.CallbackRouteValues = new { Controller = "Presupuesto", Action = "UploadControlUpload" };
                   settings.ShowUploadButton = true;
                   settings.ShowProgressPanel = true;
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.NullText = "Selecciona el archivo...";
                   settings.ClientSideEvents.FilesUploadStart = "OnFileUploadStart";
                   settings.ClientSideEvents.FileUploadComplete = "OnFileUploadComplete";
               }).GetHtml()
            </div>
        </div>
    </div>
    <div class="modal-body">
        @Html.Action("GridViewPartial_PresupuestoDet")
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "Presupuesto", new { Area ="Presupuesto" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


