@model Core.Erp.Info.General.tb_TarjetaCredito_x_cp_proveedor_Info
@{
    ViewBag.Title = "Nueva tarjeta de crédito por proveedor";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Nuevo", "TarjetaCreditoPorProveedor", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Codigo">Proveedor*</label>
                    @Html.Partial("_CmbProveedor_TarjetaCredito", Model.IdProveedor)
                    @Html.ValidationMessageFor(q => q.IdProveedor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="GetHtml">Tarjeta de crédito*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdTarjeta, settings =>
                       {
                           settings.Name = "IdTarjeta";
                           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           settings.Properties.DisplayFormatString = "[{0}] - {1}";
                           settings.Properties.Columns.Add("IdTarjeta", "IdTarjeta").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                           settings.Properties.Columns.Add("NombreTarjeta", "Nombre Tarjeta").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                           //Campo ID
                           settings.Properties.ValueField = "IdTarjeta";
                           settings.Properties.ValueType = typeof(string);
                           settings.Properties.TextField = "NombreTarjeta";
                           //Boton para seleccionar ningun registro
                           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                           settings.Properties.NullText = "== Seleccione ==";
                           settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                       }).BindList(ViewBag.lst_tarjeta_credito).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdTarjeta, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","TarjetaCreditoPorProveedor",new { Area = "General" },null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
