@model Core.Erp.Info.Banco.ba_Talonario_cheques_x_banco_Info

@{
    ViewBag.Title = "Nuevo talonario";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Nuevo", "TalonarioChequeBanco", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdBanco)
    @Html.HiddenFor(q => q.Num_cheque)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdBanco">Banco</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdBanco, settings =>
               {
                   settings.Name = "IdBanco";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("IdBanco", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(20);
                   settings.Properties.Columns.Add("ba_descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(80);
                   //Campo ID
                   settings.Properties.ValueField = "IdBanco";
                   settings.Properties.ValueType = typeof(int);
                   settings.Properties.TextField = "ba_descripcion";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e){get_NumeroCheque();}";
               }).BindList(ViewBag.lst_banco).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdBanco, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Estado_bool">Número de cheque</label>
                    @Html.TextBoxFor(q => q.Num_cheque, new { @class = "form-control", @id = "Num_cheque" })
                    @Html.ValidationMessageFor(q => q.Num_cheque, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="checkbox">
                        <label for="Estado_bool">@Html.CheckBoxFor(q => q.Estado_bool) Estado</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="Usado">@Html.CheckBoxFor(q => q.Usado) Usado</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","TalonarioChequeBanco", new { Area = "Banco"  },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>

            $("#Num_cheque").change(function () {
                get_NumeroCheque();
            });

    function get_NumeroCheque() {
        var codigo = IdBanco.GetValue();

        var datos = {
            IdBanco: codigo,
            Establecimiento: establecimiento
        };

        $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("get_NumeroCheque", "TalonarioChequeBanco", new { Area = "Banco"})',
                async: false,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#Num_cheque").val(data);
                },
                error: function (error) {

                }
            });
        }
    }

</script>