@model Core.Erp.Info.Helps.cl_filtros_Info

@{
    ViewBag.Title = "Aprobación orden de compra";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Layout/_LayoutConsulta.cshtml";
}
<script type="text/javascript">

    var selectedIDs;
    function OnBeginCallback(s, e) {
        e.customArgs["selectedIDs"] = selectedIDs;
    };

    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("IdOrdenCompra", GetSelectedFieldValuesCallback);
    };

    function GetSelectedFieldValuesCallback(values) {
        //Capture all selected keys
        selectedIDs = values.join(',');
    };

    function aprobar() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IDs: selectedIDs,
            IdEstadoAprobacion: $("#btn_aprobar").attr('estado'),
        }
        $("#btn_aprobar").attr("disabled", true);
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("aprobar", "AprobacionOC", new { Area = "Compras" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#myform").submit();
                GridViewPartial_aprobacion_oc.PerformCallback();
            },
            error: function (error) {
            }
        });
    }

    function reprobar() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IDs: selectedIDs,
            IdEstadoAprobacion: $("#btn_reprobar").attr('estado'),
        }
        $("#btn_aprobar").attr("disabled", true);
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("reprobar", "AprobacionOC", new { Area = "Compras" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#myform").submit();
                GridViewPartial_aprobacion_oc.PerformCallback();
            },
            error: function (error) {
            }
        });
    }

    </script>
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Index", "AprobacionOC", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id="IdTransaccionSession"})
    <div class="box ">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                </div>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="IdSucursal">Sucursal*</label>
                            @Html.DropDownListFor(q => q.IdSucursal, new SelectList(ViewBag.lst_sucursal, "IdSucursal", "Su_descripcion"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Fecha inicio*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.DevExpress().DateEditFor(q => q.fecha_ini, settings =>
                           {
                               settings.Name = "fecha_ini";
                               settings.Properties.UseMaskBehavior = true;
                               settings.Properties.EditFormat = EditFormat.Date;
                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           }).GetHtml()
                                @Html.ValidationMessageFor(q => q.fecha_ini, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Fecha fin*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.DevExpress().DateEditFor(q => q.fecha_fin, settings =>
                           {
                               settings.Name = "fecha_fin";
                               settings.Properties.UseMaskBehavior = true;
                               settings.Properties.EditFormat = EditFormat.Date;
                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           }).GetHtml()
                                @Html.ValidationMessageFor(q => q.fecha_fin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @Html.Action("GridViewPartial_aprobacion_oc", new { IdSucursal = Model.IdSucursal, fecha_ini = Model.fecha_ini, fecha_fin = Model.fecha_fin })

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="btn_aprobar" estado="APRO" onclick="aprobar();">Aprobar</button>
                        <button type="button" class="btn btn-danger" id="btn_reprobar" estado="REPRO" onclick="reprobar();">Reprobar</button>
                    </div>

                </div>
        <!-- /.box-body -->
        <div class="box-footer">
            [@Session["IdEmpresa"]] @Session["nom_empresa"]
        </div>
        <!-- /.box-footer-->




        </div>
}
