@model Core.Erp.Info.Inventario.in_grupo_Info
@{
    ViewBag.Title = "Modificar grupo";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Modificar", "Grupo", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdGrupo)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cod_grupo">Código*</label>
                    @Html.TextBoxFor(q => q.cod_grupo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.cod_grupo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdCategoria">Categorías*</label>
                    @Html.HiddenFor(q => q.IdCategoria)
                    @Html.DevExpress().ComboBoxFor(q => q.IdCategoria, settings =>
               {
                   settings.Name = "IdCategoria";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("IdCategoria", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("ca_Categoria", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                   //Campo ID
                   settings.Properties.ValueField = "IdCategoria";
                   settings.Properties.ValueType = typeof(string);
                   settings.Properties.TextField = "ca_Categoria";
                   settings.Properties.NullText = "== Seleccione ==";

                   settings.Properties.DropDownButton.Enabled = false;
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   settings.ReadOnly = true;
               }).BindList(ViewBag.lst_categorias).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdCategoria, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdLinea">Línea*</label>
                    @Html.HiddenFor(q => q.IdLinea)
                    @Html.DevExpress().ComboBoxFor(q => q.IdLinea, settings =>
               {
                   settings.Name = "IdLinea";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("IdLinea", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("nom_linea", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                   //Campo ID
                   settings.Properties.ValueField = "IdLinea";
                   settings.Properties.ValueType = typeof(int);
                   settings.Properties.TextField = "nom_linea";
                   settings.Properties.NullText = "== Seleccione ==";

                   settings.Properties.DropDownButton.Enabled = false;
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   settings.ReadOnly = true;
               }).BindList(ViewBag.lst_lineas).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdLinea, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nom_grupo">Descripción*</label>
                    @Html.TextBoxFor(q => q.nom_grupo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.nom_grupo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "Grupo", new {IdEmpresa = Model.IdEmpresa, IdCategoria = Model.IdCategoria, IdLinea = Model.IdLinea , Area = "Inventario" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}