@model Core.Erp.Info.Facturacion.fa_formaPago_Info
@{
    ViewBag.Title = "Anular forma de pago";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Anular", "FormaPago", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q=>q.IdFormaPago)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdFormaPago">Código*</label>
                    @Html.TextBoxFor(q => q.IdFormaPago, new { @class = "form-control" , @disabled = "disabled"})
                    @Html.ValidationMessageFor(q => q.IdFormaPago, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nom_FormaPago">Descripción*</label>
                    @Html.TextBoxFor(q => q.nom_FormaPago, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.nom_FormaPago, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index", "FormaPago", new {  Area ="Facturacion" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}