@model Core.Erp.Info.Helps.cl_filtros_facturacion_Info
@{
    Layout = "~/Areas/Reportes/Views/Layout/_Layout_filtros.cshtml";
    ViewBag.Title = "CXC_005";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}
@using (Html.BeginForm("CXC_005", "CuentasPorCobrarReportes", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q=>q.IdEmpresa, new { @id = "IdEmpresa"})
<div class="box">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>

    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="IdCliente">Cliente</label>
                        @Html.Partial("_CmbCliente_CXC", Model.IdCliente)
                        @Html.ValidationMessageFor(q => q.IdCliente, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="IdClienteContacto">Contacto</label>
                        @Html.DropDownListFor(q => q.IdClienteContacto, new SelectList(ViewBag.lst_contacto, "IdContacto", "Nombres", Model.IdClienteContacto), new { @class = "form-control", @id = "IdClienteContacto" })
                        @Html.ValidationMessageFor(q => q.IdClienteContacto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Fecha corte</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.DevExpress().DateEditFor(q=> q.fecha_corte, settings =>
                        {
                            settings.Name = "fecha_corte";
                            settings.Properties.UseMaskBehavior = true;
                            settings.Properties.EditFormat = EditFormat.Date;
                            settings.Properties.EditFormatString = "dd/MM/yyyy";
                            settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        }).GetHtml()
                            @Html.ValidationMessageFor(q => q.fecha_corte, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="mostrarSaldo0">@Html.CheckBoxFor(q => q.mostrarSaldo0) Mostrar saldo 0</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
                
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    @Html.DevExpress().WebDocumentViewer(settings =>
               {
                   settings.ClientSideEvents.Init = "function(s, e) {s.previewModel.reportPreview.zoom(1);}";
                   settings.MobileMode = false;
                   settings.Name = "webDocumentViewer";
               }).Bind(ViewBag.Report).GetHtml()
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    [@Session["IdEmpresa"]] @Session["nom_empresa"]
                </div>
                <!-- /.box-footer-->
            </div>
            }
        <script>
        function cargar_cliente() {
            $("#IdClienteContacto").empty();

            var datos = {

                IdEmpresa: $("#IdEmpresa").val(),
                IdCliente: IdCliente.GetValue()

                    }
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(datos),
                        url: '@Url.Action("cargar_cliente", "CuentasPorCobrarReportes",new { Area = "Reportes"})',
                        async: false,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $.each(data, function (i, row) {
                                $("#IdClienteContacto").append("<option value=" + row.IdContacto + ">" + row.Nombres + "</option>");
                                $("#IdClienteContacto").val("0");
                        });
                    },
                    error: function (error) {
                    }
                });
            };
    </script>

