@model Core.Erp.Info.RRHH.ro_ArchivosIess_Info
@{
    ViewBag.Title = "Archivos batch IESS";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Nuevo", "ArchivosActualizacionSueldo", FormMethod.Post, new { @class = "form", @role = "form" }))
{@Html.HiddenFor(q => q.IdEmpresa, new { @id= "IdEmpresa"});

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="form-group">
                <label for="FechaInicio">Nómina*</label>
                @Html.DropDownListFor(q => q.IdNominaTipo, new SelectList(ViewBag.lst_nomina, "IdNomina_Tipo", "Descripcion"),  new { @class = "form-control", @id = "IdNomina_Tipo" })
                @Html.ValidationMessageFor(q => q.IdNominaTipo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="form-group">
                <label for="FechaInicio">Proceso de la nómina*</label>
                @Html.DropDownListFor(q => q.IdNominaTipoLiqui, new SelectList(ViewBag.lst_nomina_tipo, "IdNomina_TipoLiqui", "DescripcionProcesoNomina"), new { @class = "form-control", @id = "IdNomina_TipoLiqui" })
                @Html.ValidationMessageFor(q => q.IdNominaTipoLiqui, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="form-group">
                <label for="FechaInicio">Periodo*</label>
                @Html.DropDownListFor(q => q.IdPeriodo, new SelectList(ViewBag.lst_periodos, "IdPeriodo", "Descripcion"),  new { @class = "form-control", @id = "IdPeriodo" })
                @Html.ValidationMessageFor(q => q.IdPeriodo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Action("GridViewPartial_archivos_iess")
            </div>
        </div>
    </div>
</div>

<div class="box-footer">
    <button type="submit" class="btn btn-primary">Descrgar archivo</button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}


<script>


    $("#IdNomina_Tipo").change(function () {
        $("#IdNomina_TipoLiqui").empty();
             cargar_tipo_liquidacion_nomina();

        });
    cargar_tipo_liquidacion_nomina();
    $("#IdNomina_TipoLiqui").change(function () {
           $("#IdPeriodo").empty();
            cargar_periodos_x_nomina();
        });

    cargar_periodos_x_nomina();

        function cargar_tipo_liquidacion_nomina() {
            var datos = {
                IdNomina: $("#IdNomina_Tipo").val()
            }
            $("#IdPeriodo").change(function () {
                get_list();
            });   

            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("get_lst_nomina_tipo_liq","NominaTipoLiquidacion", new { Area = "RRHH" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $.each(data, function (i, row) {
                        $("#IdNomina_TipoLiqui").append("<option value=" + row.IdNomina_TipoLiqui + ">" + row.DescripcionProcesoNomina + "</option>");
                    });
                    $("#IdNomina_TipoLiqui").val(2);

                },
                error: function (error) {
                }
            });
        };

    function cargar_periodos_x_nomina() {
        var datos = {
            IdNomina: $("#IdNomina_Tipo").val(),
            IdNomina_Tipo: $("#IdNomina_TipoLiqui").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("get_lst_periodo_x_nomina","PeriodosPorNomina", new { Area = "RRHH" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $.each(data, function (i, row) {
                    $("#IdPeriodo").append("<option value=" + row.IdPeriodo + ">" + row.descripcion + "</option>");
                });
            },
            error: function (error) {
            }
        });
    };

     function get_list() {
         var datos = {
             IdEmpresa: $("#IdEmpresa").val(),
             IdNomina_Tipo: $("#IdNomina_Tipo").val(),
             IdNomina_TipoLiqui: $("#IdNomina_TipoLiqui").val(),
            IdPeriodo: $("#IdPeriodo").val()

        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("get_list", "ArchivosActualizacionSueldo", new { Area = "RRHH" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_archivos_iess.PerformCallback();
            },
            error: function (error) {
            }
        });
    };



</script>
