@model Core.Erp.Info.General.tb_ciudad_Info
@{
    ViewBag.Title = "Anular Ciudad";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Anular", "Ciudad", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdCiudad)
    @Html.HiddenFor(q => q.IdProvincia)

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Cod_Ciudad">Código*</label>
                    @Html.TextBoxFor(q => q.Cod_Ciudad, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Cod_Ciudad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdProvincia">Provincia*</label>
                    @Html.DropDownListFor(q => q.IdProvincia, new SelectList(ViewBag.lst_provincia, "IdProvincia", "Descripcion_Prov"), new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.IdProvincia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Descripcion_Ciudad">Descripción*</label>
                    @Html.TextBoxFor(q => q.Descripcion_Ciudad, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Descripcion_Ciudad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index","Ciudad",new {IdProvincia = Model.IdProvincia,IdPais = Model.IdPais, Area = "General" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}