@model Core.Erp.Info.RRHH.ro_empleado_x_rubro_acumulado_Info

@{
    ViewBag.Title = "Nueva solicitud de acumulación";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Nuevo", "EmpleadoRubroAcumulado", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdProveedor">Empleado</label>
                    @Html.Partial("_CmbEmpleado_rubros_acumulados", Model.IdEmpleado)
                    @Html.ValidationMessageFor(q => q.IdEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdRubro">Rubro*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdRubro, settings =>
               {
                   settings.Name = "IdRubro";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("ru_codRolGen", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("ru_descripcion", "Rubro").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("ru_tipo", "Tipo").Width = System.Web.UI.WebControls.Unit.Percentage(80);

                   //Campo ID
                   settings.Properties.ValueField = "IdRubro";
                   settings.Properties.ValueType = typeof(string);
                   settings.Properties.TextField = "ru_descripcion";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

               }).BindList(ViewBag.lst_rubro).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Fec_Inicio_Acumulacion">Fecha solicitud acumulación*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.Fec_Inicio_Acumulacion, settings =>
                       {
                           settings.Name = "Fec_Inicio_Acumulacion";
                           settings.Properties.UseMaskBehavior = true;
                           settings.Properties.EditFormat = EditFormat.Date;
                           settings.Properties.EditFormatString = "dd/MM/yyyy";
                           settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       }).GetHtml()
                        @Html.ValidationMessageFor(q => q.Fec_Inicio_Acumulacion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Fec_Fin_Acumulacion">Fecha fin acumulación*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.Fec_Fin_Acumulacion, settings =>
                       {
                           settings.Name = "Fec_Fin_Acumulacion";
                           settings.Properties.UseMaskBehavior = true;
                           settings.Properties.EditFormat = EditFormat.Date;
                           settings.Properties.EditFormatString = "dd/MM/yyyy";
                           settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       }).GetHtml()
                        @Html.ValidationMessageFor(q => q.Fec_Fin_Acumulacion, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-default" href="@Url.Action("Index","EmpleadoRubroAcumulado",new { Area = "RRHH" },null)">Cancelar</a>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        }
