@model Core.Erp.Info.Inventario.in_Producto_Info
@{
    ViewBag.Title = "Importar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
<script type="text/javascript">
    function OnFileUploadStart(s, e) {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("ActualizarVariablesSession", "Producto", new { Area = "Inventario"})',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            },
            error: function (error) {
            }
        });        
    }

    function OnFileUploadComplete(s, e)
    {
        GridViewPartial_SubgrupoPro_importacion.PerformCallback();
        GridViewPartial_PresentacionPro_importacion.PerformCallback();
        GridViewPartial_MarcaPro_importacion.PerformCallback();
        GridViewPartial_ProductoPro_importacion.PerformCallback();
    }

</script>

@using (Html.BeginForm("Importar", "Producto", FormMethod.Post, new { @role = "form", @id = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    if (ViewBag.error != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.error
                <a href="@Url.Action("Index","LogError",new  {Area="General"}, null )" class="small-box-footer" target="_blank">Ver detalle error<i class="fa fa-arrow-circle-right"></i></a>
            </h4>
        </div>
    }
    @Html.HiddenFor(q=> q.IdEmpresa, new { @id = "IdEmpresa"})
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                @Html.DevExpress().UploadControl(settings =>
           {
               settings.Name = "UploadControlFile";
               settings.CallbackRouteValues = new { Controller = "Producto", Action = "UploadControlUploadImp" };
               settings.ShowUploadButton = true;
               settings.ShowProgressPanel = true;
               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
               settings.NullText = "Selecciona el archivo...";
               settings.ClientSideEvents.FilesUploadStart = "OnFileUploadStart";
               settings.ClientSideEvents.FileUploadComplete = "OnFileUploadComplete";
           }).GetHtml()
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" title="Guardar">Guardar</button>
            </div>
        </div>
    </div>


    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab_subgrupo" aria-controls="vales" role="tab" data-toggle="tab">Categorización</a>
            </li>
            <li>
                <a href="#tab_presentacion" aria-controls="vales" role="tab" data-toggle="tab">Presentación</a>
            </li>
            <li>
                <a href="#tab_marca" aria-controls="vales" role="tab" data-toggle="tab">Marca</a>
            </li>
            <li>
                <a href="#tab_producto" aria-controls="vales" role="tab" data-toggle="tab">Producto</a>
            </li>
        </ul>
        <div class="tab-content" style="padding-top: 20px">

            <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_subgrupo">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                           @Html.Action("GridViewPartial_SubgrupoPro_importacion")
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_presentacion">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            @Html.Action("GridViewPartial_PresentacionPro_importacion")
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_marca">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            @Html.Action("GridViewPartial_MarcaPro_importacion")
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_producto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            @Html.Action("GridViewPartial_ProductoPro_importacion")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}