@model Core.Erp.Info.RRHH.ro_Solicitud_Vacaciones_x_empleado_Info
@{
    ViewBag.Title = "Anular contrato";
}


@using (Html.BeginForm("Anular", "Contrato", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdSolicitud)
    @Html.HiddenFor(q => q.IdEmpleado)
    @Html.HiddenFor(q => q.IdEmpresa)

 
    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index","Contrato",new { Area = "RRHH" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

}
<script>
    $(function () {

        //Date picker
        $('#FechaInicio').datepicker({
            autoclose: true
        })

        $('#FechaFin').datepicker({
            autoclose: true
        })
    })
</script>