@model Core.Erp.Info.RRHH.ro_empleado_proyeccion_gastos_Info

@{
    ViewBag.Title = "Anular Proyección";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Anular", "ProyeccionDeGastos", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdTransaccionSession)
    @Html.HiddenFor(q => q.IdTransaccion)

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ca_descripcion">Año fiscal*</label>
                    @Html.TextBoxFor(q => q.AnioFiscal, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AnioFiscal, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdProveedor">Empleado</label>
                    @Html.Partial("_CmbEmpleado_proyeccion", Model.IdEmpleado)
                    @Html.ValidationMessageFor(q => q.IdEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdProveedor">Detalle de gastos de deducibles</label>
                    @Html.Action("GridViewPartial_proyeccion_gastos_det", new { IdEmpresa = Model.IdEmpresa, IdTransaccion = Model.IdTransaccion })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index","ProyeccionDeGastos",new { Area = "RRHH" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}