@model Core.Erp.Info.Importacion.imp_catalogo_tipo_Info
@{
    ViewBag.Title = "Nuevo catálogo ";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Nuevo", "CatalogoTipoImportacion", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdCatalogo_tipo)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ct_descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.ct_descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ct_descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","CatalogoTipoImportacion",new { Area = "Importacion" },null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
