@model Core.Erp.Info.General.tb_pais_Info
@{
    ViewBag.Title = "Nuevo país";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Nuevo", "Pais", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="CodPais">Código*</label>
                    @Html.TextBoxFor(q => q.CodPais, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CodPais, "", new { @class = "text-danger" })


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Nombre">Nombre*</label>
                    @Html.TextBoxFor(q => q.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Nacionalidad">Nacionalidad*</label>
                    @Html.TextBoxFor(q => q.Nacionalidad, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nacionalidad, "", new { @class = "text-danger" })


                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","Pais",new { Area = "General" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

