<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Fixed ERP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- jQuery 3 -->
    <script src="~/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/dist/js/demo.js"></script>
    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Bootstrap DatePicker -->
    <script src="~/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    @*<script src="~/bower_DevExpress/jquery/dist/jquery.min.js"></script>*@
    <link href="~/bower_DevExpress/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/bower_DevExpress/jqueryui/jquery-ui.js"></script>
    <script src="~/bower_DevExpress/cldrjs/dist/cldr.js"></script>
    <script src="~/bower_DevExpress/cldrjs/dist/cldr/event.js"></script>
    <script src="~/bower_DevExpress/cldrjs/dist/cldr/supplemental.js"></script>
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize-runtime.js"></script>
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize.js"></script>
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize/currency.js"></script>
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize/number.js"></script>
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize/date.js"></script>
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize/message.js"></script>    
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize/plural.js"></script>
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize/relative-time.js"></script>
    <script src="~/bower_DevExpress/globalize-1.3.0/dist/globalize/unit.js"></script>

    <script src="~/bower_DevExpress/knockout/dist/knockout.js"></script>
    <script src="~/bower_DevExpress/ace-builds/src/ace.js"></script>
    <script src="~/bower_DevExpress/ace-builds/src/ext-language_tools.js"></script>
    @*RenderSection("scripts", required: false)*@
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
            new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid }

        )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView },
            new Script { ExtensionSuite = ExtensionSuite.Report },
            new Script { ExtensionSuite = ExtensionSuite.PivotGrid }

        )
</head>
<body class="skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <a class="navbar-brand text-center center-block" href="#myModal" data-toggle="modal">
                        <span class="logo-lg"><strong>Fixed</strong> ERP</span>
                    </a>
                </div>
            </nav>
            <!-- Logo -->


        </header>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="btn btn-primary" href="@Url.Action("Consulta","ReportesPorUsuario",new { Area = "General" },null)">Reportes</a>
                                <a class="btn btn-default glyphicon glyphicon-expand" href="@Url.Action("Index","VisorDeVideo",new { Area = "General"},null)"></a>
                            </div>
                            <div class="modal-body">
                                @Html.DevExpress().TreeView(settings =>
                           {
                               settings.Name = "treeViewMenu";
                               settings.EnableHotTrack = true;
                               var Nodes = new List<Core.Erp.Info.SeguridadAcceso.seg_Menu_x_Empresa_x_Usuario_Info>();
                               Core.Erp.Web.Areas.SeguridadAcceso.Controllers.MenuPorEmpresaPorUsuarioController.CreateTreeViewNodesRecursive(Nodes, settings.Nodes, 0, (Session["IdEmpresa"] == null ? 0 : Convert.ToInt32(Session["IdEmpresa"])), (Session["IdUsuario"] == null ? "" : Session["IdUsuario"].ToString()));

                           }).GetHtml()
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" href="@Url.Action("Login","Account",new { Area = "" },null)">Cerrar sesión @Session["IdUsuario"]</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>

                    </div>
                </div>
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2018 Fixed S.A.</strong> All rights
            reserved.
        </footer>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>


    <!-- ./wrapper -->

</body>
</html>
