

@using System.Web.UI.WebControls;
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridViewPartial_por_distribuir";
        settings.CallbackRouteValues = new { Controller = "DistribucionPorLote", Action = "GridViewPartial_por_distribuir" };


        settings.KeyFieldName = "IdProducto_padre";

        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

       // settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        //Configuracion responsive
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCellsWindowLimit;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 500;


        settings.Columns.Add("pr_descripcion", "Producto").Width = System.Web.UI.WebControls.Unit.Percentage(40);
        settings.Columns.Add("IdUnidadMedida", "Unidad medida").Width = System.Web.UI.WebControls.Unit.Percentage(20);
        settings.Columns.Add(column =>
        {
            column.FieldName = "can_total";
            column.Caption = "Total";
            column.Width = Unit.Percentage(15);

        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "can_distribuida";
            column.Caption = "Cant. distribuidas";
            column.Width = Unit.Percentage(15);

        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "can_x_distribuir";
            column.Caption = "Cant. x distribuir";
            column.Width = Unit.Percentage(15);

        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "IdProducto_padre";
            column.Caption = "Accion";
            column.UnboundType = DevExpress.Data.UnboundColumnType.String;
            column.SetDataItemTemplateContent(c =>
            {
                Html.DevExpress().Button(settingsBtn =>
                {
                    settingsBtn.Name = "btn" + c.KeyValue;
                    settingsBtn.Text = "Asignar";
                    settingsBtn.ClientSideEvents.Click = "function(s, e) {Mostrar('" + c.KeyValue + "');}";
                }).Render();
            });
        });



    });
}
@grid.Bind(Model).GetHtml()


<script>
    function refresch_partial() {

        GridViewPartial_por_distribuir.PerformCallback();
    };
</script>



<div class="modal fade" id="detalle_distr" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="box-footer">
                <button type="button" class="btn btn-primary" onclick="Guardar_lote();">Guardar lote</button>
            </div>



            <div class="row" id="datos_lote">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="Valor" id="label_lote" >Numero lote* </label>
                            @Html.TextBox("lote", null, new { @class = "form-control", @id="lote"})
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="fecha_fab">Fecha fabricación</label>
                            <input id="fecha_fab" type="date" class="form-control">

                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="fecha_ven">Fecha vencimiento*</label>
                            <input id="fecha_ven" type="date" class="form-control">

                        </div>
                    </div>
                   
                </div>

            </div>




            @Html.Action("GridViewPartial_distribucion_det")
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="cerrar();">Close</button>
            </div>
        </div>

    </div>
</div>



<script type="text/javascript">
   
    function Mostrar(IdProducto_padre)
    {
        var datos = {
            IdProducto_padre: IdProducto_padre
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("Mostrar", "DistribucionPorLote", new { Area = "Inventario" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            GridViewPartial_distribucion_det.PerformCallback();
            $("#detalle_distr").modal("show");
               
            },
            error: function (error) {
            }
        });
    };


    function Guardar_lote() {

        if ($("#lote").val() == "") {
            alert("Ingrese el numero de lote");
            return;
        }
        if ($("#fecha_ven").val() == "") {
            alert("Ingrese fecha vencimiento");
            return;
        }
        var datos = {
            fecha_fab: $("#fecha_fab").val(),
            fecha_ven: $("#fecha_ven").val(),
            lote: $("#lote").val(),
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("Guardar_lote", "Producto", new { Area = "Inventario" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_distribucion_det.PerformCallback();
                alert("El lote grabado correctamente");
                $("#lote").val("");
                $("#fecha_ven").val("");
                $("#fecha_fab").val("");
            },
            error: function (error) {
            }
        });
    };

    function cerrar() {
        GridViewPartial_distribuidos.PerformCallback();
        GridViewPartial_por_distribuir.PerformCallback();
        $("#detalle_distr").modal("hide");

    };
    function mostrar_elementos() {
        $("#label_lote").modal("show");

    };
</script>   