@model Core.Erp.Info.Inventario.in_Producto_Info
<div class="modal fade" id="nuevo_lote" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            


            @using (Html.BeginForm("Nuevo", "Categoria", FormMethod.Post, new { @class = "form", @role = "form" }))
            {

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="IdCategoria">ID*</label>
                                @Html.TextBoxFor(q => q.lote_num_lote, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.IdCategoria, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cod_categoria">Código*</label>
                                @Html.TextBoxFor(q => q.lote_fecha_fab, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.lote_fecha_fab, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ca_Categoria">Descripción*</label>
                                @Html.TextBoxFor(q => q.lote_fecha_vcto, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.lote_fecha_vcto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "Categoria", new {  Area ="Inventario" }, null)">Cancelar</a>
                </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            }












        </div>

    </div>
</div>