@model Core.Erp.Info.Inventario.in_Ing_Egr_Inven_distribucion_Info
@{
    ViewBag.Title = "Distribución de lotes";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Nuevo", "DistribucionPorLote", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdSucursal)
    @Html.HiddenFor(q => q.IdProducto)
    @Html.HiddenFor(q => q.IdProducto_padre)
    @Html.HiddenFor(q => q.signo)
    @Html.HiddenFor(q => q.IdMovi_inven_tipo)
    @Html.HiddenFor(q => q.IdNumMovi)
    @Html.HiddenFor(q => q.can_distribuida)
    @Html.HiddenFor(q => q.can_x_distribuir)
    @Html.HiddenFor(q => q.can_total)
    @Html.HiddenFor(q => q.dm_cantidad)
    @Html.HiddenFor(q => q.IdBodega)
    @Html.HiddenFor(q => q.IdTransaccionSession)



    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="cm_observacion">Detalle de items por distribuir</label>
                    @Html.Action("GridViewPartial_por_distribuir")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="cm_observacion">Detalle de items distribuidos</label>
                    @Html.Action("GridViewPartial_distribuidos")
                </div>
            </div>
        </div>
    </div>


    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","DistribucionPorLote",new { Area = "Inventario" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>
        $(function () {
            //Date picker
            $('#cm_fecha').datepicker({
                autoclose: true
            })
        });
</script>