@model Core.Erp.Info.RRHH.ro_marcaciones_x_empleado_Info

@{
    ViewBag.Title = "Nuevo marcación";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Nuevo", "MarcacionEmpleado", FormMethod.Post, new { @class = "form", @role = "form" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdEmpleado">Empleado*</label>
                    @Html.Partial("_CmbEmpleado_Marcacion", Model.IdEmpleado)
                    @Html.ValidationMessageFor(q => q.IdEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdMarcacioneEmpleado_Tipo">Tipo marcación*</label>
                    @Html.DropDownListFor(q => q.IdTipoMarcaciones, new SelectList(ViewBag.lst_tipo, "IdTipoMarcaciones", "ma_descripcion"), "== Seleccione ==", new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdTipoMarcaciones, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="es_fechaRegistro">Fecha marcación*</label>
                    @Html.DevExpress().DateEditFor(q=> q.es_fechaRegistro, settings =>
                {
                    settings.Name = "es_fechaRegistro";
                    settings.Properties.UseMaskBehavior = true;
                    settings.Properties.EditFormat = EditFormat.Date;
                    settings.Properties.EditFormatString = "dd/MM/yyyy";
                    settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                }).GetHtml()
                    @Html.ValidationMessageFor(q => q.es_fechaRegistro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ca_descripcion">Hora*</label>
                    @Html.TextBoxFor(model => model.es_Hora, new
               {
                   @class = "form-control timepicker-holdOffTime",
                   type = "time",
                   step = 1
               })
                    @Html.ValidationMessageFor(m => m.es_Hora, "", new { @class = "text-danger" })


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Observacion">Observación*</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","MarcacionEmpleado",new { Area = "RRHH" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
