@model Core.Erp.Info.CuentasPorCobrar.cxc_liquidacion_comisiones_Info
@{
    ViewBag.Title = "Nueva liquidación";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Nuevo", "LiquidacionComisiones", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdLiquidacion, new { id = "IdLiquidacion" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { id = "IdTransaccionSession" })
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="IdVendedor">Vendedor*</label>
                    @Html.DropDownListFor(q => q.IdVendedor, new SelectList(ViewBag.lst_vendedor, "IdVendedor", "Ve_Vendedor"), new { @class = "form-control", @id = "IdVendedor" })
                    @Html.ValidationMessageFor(q => q.IdVendedor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <div class="form-group">
                    <label for="">Fecha*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q=> q.Fecha, settings =>
                    {
                        settings.Name = "Fecha";
                        settings.Properties.UseMaskBehavior = true;
                        settings.Properties.EditFormat = EditFormat.Date;
                        settings.Properties.EditFormatString = "dd/MM/yyyy";
                        settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
                        @Html.ValidationMessageFor(q => q.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Observacion">Observación</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-1">
                <div class="form-group">
                    <button type="button" class="btn btn-primary form-control" id="btn_buscar_op" onclick="get_list_x_liquidar();">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Action("GridViewPartial_liquidacion_det")
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","LiquidacionComisiones", new {  Area = "CuentasPorCobrar"  },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

<script>
    function get_list_x_liquidar(){

        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),            
            IdTransaccionSession: $("#IdTransaccionSession").val(),
            IdVendedor: $("#IdVendedor").val(),
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("get_list_x_liquidar", "LiquidacionComisiones",new { Area = "CuentasPorCobrar"})',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridView_liquidacion_det.PerformCallback();                
            },
            error: function (error) {
            }
        });
    }
</script>