@model Core.Erp.Info.CuentasPorPagar.cp_orden_giro_Info
@{
    ViewBag.Title = "Modificar deuda";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Modificar", "Deudas", FormMethod.Post, new { @class = "form", @role = "form" }))
{

    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    @Html.HiddenFor(q => q.IdCbteCble_Ogiro)
    @Html.HiddenFor(q => q.IdTipoCbte_Ogiro)
    @Html.HiddenFor(q => q.co_fechaOg)

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdSucursal">Sucursal*</label>
                    @Html.DropDownListFor(q => q.IdSucursal, new SelectList(ViewBag.lst_sucursales, "IdSucursal", "Su_descripcion"), new { @class = "form-control", @id = "IdSucursal" })
                    @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdBodega">Bodega</label>
                    @Html.DropDownListFor(q => q.IdBodega, new SelectList(ViewBag.lst_bodega, "IdBodega", "bo_Descripcion"), new { @class = "form-control", @id = "IdBodega" })
                    @Html.ValidationMessageFor(q => q.IdBodega, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdProveedor">Proveedor*</label>
                    @Html.Partial("_CmbProveedor_CXP", Model.IdProveedor)
                    @Html.ValidationMessageFor(q => q.IdProveedor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="IdTipoServicio">Tipo de servicio</label>
                @Html.DevExpress().ComboBoxFor(q => q.IdTipoServicio, setting =>
           {
               setting.Width = System.Web.UI.WebControls.Unit.Percentage(100);
               setting.Properties.Items.Add("BIENES", "BIEN");
               setting.Properties.Items.Add("SERVICIOS", "SERVI");
               setting.Properties.Items.Add("MIXTO", "AMBAS");
           }).GetHtml()
                @Html.ValidationMessageFor(q => q.IdTipoServicio, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="co_FechaFactura">Fecha*</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.DevExpress().DateEditFor(q => q.co_FechaFactura, settings =>
                    {
                        settings.Name = "co_FechaFactura";
                        settings.Properties.UseMaskBehavior = true;
                        settings.Properties.EditFormat = EditFormat.Date;
                        settings.Properties.EditFormatString = "dd/MM/yyyy";
                        settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        settings.Properties.ClientSideEvents.DateChanged = "function(s,e){co_FechaContabilizacion.SetValue(s.GetValue());}";
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.co_FechaFactura, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="co_FechaContabilizacion">Fecha contabilización*</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.DevExpress().DateEditFor(q => q.co_FechaContabilizacion, settings =>
                    {
                        settings.Name = "co_FechaContabilizacion";
                        settings.Properties.UseMaskBehavior = true;
                        settings.Properties.EditFormat = EditFormat.Date;
                        settings.Properties.EditFormatString = "dd/MM/yyyy";
                        settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.co_FechaContabilizacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="co_plazo">Plazo*</label>
                @Html.TextBoxFor(q => q.co_plazo, new { @class = "form-control", @id = "co_plazo" })
                @Html.ValidationMessageFor(q => q.co_plazo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="co_FechaFactura_vct">Fecha vencimiento*</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.DevExpress().DateEditFor(q => q.co_FechaFactura_vct, settings =>
                   {
                       settings.Name = "co_FechaFactura_vct";
                       settings.Properties.UseMaskBehavior = true;
                       settings.Properties.EditFormat = EditFormat.Date;
                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                       settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   }).GetHtml()
                    @Html.ValidationMessageFor(q => q.co_FechaFactura_vct, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdOrden_giro_Tipo">Sustento tributario*</label>
                    @Html.DropDownListFor(q => q.IdIden_credito, new SelectList(ViewBag.lst_codigos_sri, "IdCodigo_SRI", "co_descripcion"), new { @class = "form-control", @id = "IdIden_credito" })
                    @Html.ValidationMessageFor(q => q.IdIden_credito, "", new { @class = "text-danger" })


                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdOrden_giro_Tipo">Tipo documento*</label>
                    @Html.DropDownListFor(q => q.IdOrden_giro_Tipo, new SelectList(ViewBag.lst_tipo_doc, "CodTipoDocumento", "Descripcion"), new { @class = "form-control", @id = "IdOrden_giro_Tipo" })
                    @Html.ValidationMessageFor(q => q.IdOrden_giro_Tipo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="co_serie">Serie*</label>
                    @Html.TextBoxFor(q => q.co_serie, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.co_serie, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="co_factura">Número documento*</label>
                    @Html.TextBoxFor(q => q.co_factura, new { @class = "form-control", @id = "co_factura" })
                    @Html.ValidationMessageFor(q => q.co_factura, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="co_factura">Número autorización*</label>
                    @Html.TextBoxFor(q => q.Num_Autorizacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Num_Autorizacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="co_observacion">Observación*</label>
                    @Html.TextBoxFor(q => q.co_observacion, new { @class = "form-control", @id = "observacion" })
                    @Html.ValidationMessageFor(q => q.co_observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab_datos_generales" aria-controls="informacion_general" role="tab" data-toggle="tab">Datos generales</a>
            </li>
            <li>
                <a href="#tab_detalle" aria-controls="detalle" role="tab" data-toggle="tab">Detalle de ingreso</a>
            </li>
            <li>
                <a href="#tab_documento_modificado" aria-controls="contactos_telefonos" role="tab" data-toggle="tab">Documento modificado</a>
            </li>
            <li>
                <a href="#tab_informacion_pago" aria-controls="contabilidad" role="tab" data-toggle="tab">Información de pago</a>
            </li>
            <li>
                <a href="#tab_detalle_cuotas" aria-controls="cuentas" role="tab" data-toggle="tab">Detalle de cuotas</a>
            </li>
        </ul>
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_datos_generales">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="co_subtotal_iva">Subtotal IVA</label>
                                @Html.TextBoxFor(q => q.co_subtotal_iva, new { @class = "form-control", @id = "co_subtotal_iva" })
                                @Html.ValidationMessageFor(q => q.co_subtotal_iva, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="co_subtotal_siniva">Subtotal cero</label>
                                @Html.TextBoxFor(q => q.co_subtotal_siniva, new { @class = "form-control", @id = "co_subtotal_siniva" })
                                @Html.ValidationMessageFor(q => q.co_subtotal_siniva, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="co_Por_iva">% Iva</label>
                                @Html.TextBoxFor(q => q.co_Por_iva, new { @class = "form-control", @id = "co_Por_iva", @readonly = "readonly" })
                                @Html.ValidationMessageFor(q => q.co_Por_iva, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="co_valoriva">Iva</label>
                                @Html.TextBoxFor(q => q.co_valoriva, new { @class = "form-control", @id = "co_valoriva" })
                                @Html.ValidationMessageFor(q => q.co_valoriva, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="co_total">Total</label>
                                @Html.TextBoxFor(q => q.co_total, new { @class = "form-control", @id = "co_total" })
                                @Html.ValidationMessageFor(q => q.co_total, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="co_observacion">Diario contable*</label>
                                @Html.Action("GridViewPartial_deudas_dc")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_documento_modificado">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Tipodoc_a_Modificar">Tipo documento*</label>
                                @Html.DropDownListFor(q => q.Tipodoc_a_Modificar, new SelectList(ViewBag.lst_doc_tipo, "CodTipoDocumento", "Descripcion"), new { @class = "form-control", @id = "Tipodoc_a_Modificar" })
                                @Html.ValidationMessageFor(q => q.Tipodoc_a_Modificar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="estable_a_Modificar">Establecimiento*</label>
                                @Html.TextBoxFor(q => q.estable_a_Modificar, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.estable_a_Modificar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ptoEmi_a_Modificar">Punto emisión*</label>
                                @Html.TextBoxFor(q => q.ptoEmi_a_Modificar, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.ptoEmi_a_Modificar, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="num_docu_Modificar">Numero documento*</label>
                                @Html.TextBoxFor(q => q.num_docu_Modificar, new { @class = "form-control", @id = "num_docu_Modificar" })
                                @Html.ValidationMessageFor(q => q.num_docu_Modificar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Num_Autorizacion">Autorización*</label>
                                @Html.TextBoxFor(q => q.aut_doc_Modificar, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.aut_doc_Modificar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_informacion_pago">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="info_forma_pago.codigo_pago_sri">Forma Pago*</label>
                                @Html.DevExpress().ComboBoxFor(q => q.info_forma_pago.codigo_pago_sri, settings =>
                               {
                                   settings.Name = "info_forma_pago.codigo_pago_sri";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("codigo_pago_sri", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("formas_pago_sri", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(90);


                                   //Campo ID
                                   settings.Properties.ValueField = "codigo_pago_sri";
                                   settings.Properties.ValueType = typeof(string);
                                   settings.Properties.TextField = "formas_pago_sri";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_forma_pago).GetHtml()
                                @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="PagoLocExt">Pago local o exterior</label>
                                @Html.DropDownListFor(q => q.PagoLocExt, new SelectList(ViewBag.lst_pagos, "Key", "Value"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.PagoLocExt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="PaisPago">País efectua el pago*</label>
                                @Html.DropDownListFor(q => q.PaisPago, new SelectList(ViewBag.lst_paises, "Codigo", "Pais"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.PaisPago, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="ConvenioTributacion_bool">@Html.CheckBoxFor(q => q.ConvenioTributacion_bool) Aplica convenio de doble tributación en el pago</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="PagoSujetoRetencion_bool">@Html.CheckBoxFor(q => q.PagoSujetoRetencion_bool) Pago sujeto a retención en aplicación en la norma legal</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_detalle">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="co_observacion">Detalle</label>
                                @Html.Action("GridViewPartial_deudas_det")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_detalle_cuotas">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Num_cuotas">#cuotas</label>
                                @Html.TextBoxFor(q => q.info_cuota.Num_cuotas, new { @class = "form-control", @id = "Num_cuotas" })
                                @Html.ValidationMessageFor(q => q.info_cuota.Num_cuotas, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Dias_plazo">Días plazo</label>
                                @Html.TextBoxFor(q => q.info_cuota.Dias_plazo, new { @class = "form-control", @id = "Dias_plazo" })
                                @Html.ValidationMessageFor(q => q.info_cuota.Dias_plazo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Total_a_pagar">Total pagar</label>
                                @Html.TextBoxFor(q => q.info_cuota.Total_a_pagar, new { @class = "form-control", @id = "Total_a_pagar" })
                                @Html.ValidationMessageFor(q => q.info_cuota.Total_a_pagar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="co_FechaContabilizacion">Fecha Primera cuota*</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.DevExpress().DateEditFor(q => q.info_cuota.Fecha_inicio, settings =>
                                       {
                                           settings.Name = "Fecha_inicio";
                                           settings.Properties.UseMaskBehavior = true;
                                           settings.Properties.EditFormat = EditFormat.Date;
                                           settings.Properties.EditFormatString = "dd/MM/yyyy";
                                           settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                           settings.Properties.ClientSideEvents.DateChanged = "function(s,e){get_cuotas();}";
                                       }).GetHtml()
                                    @Html.ValidationMessageFor(q => q.info_cuota.Fecha_inicio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="co_observacion">Detalle de cuotas</label>

                                @Html.Action("GridViewPartial_documento_cuotas_det")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","Deudas",new { Area = "CuentasPorPagar" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>


    $(function () {

        $("#IdSucursal").change(function () {
            cargar_bodega();
        });
    });


    $("#co_subtotal_iva").change(function () {

        actualizar_valores();
        armar_diario();
    });
    $("#co_subtotal_siniva").change(function () {

        actualizar_valores();
        armar_diario();
    });

    $("#num_docu_Modificar").change(function () {
        rellenar_ceros_izq();
    });
    $("#co_factura").change(function () {
        rellenar_ceros_izquierda();
    });
    $("#IdIden_credito").change(function () {
        $("#IdOrden_giro_Tipo").empty();
        $("#cmbTipoDocu_modif").empty();
        if (IdProveedor.GetValue() == 0) {
            alert("Seleccione el proveedor");
        } else {
            get_list_tipo_doc();
        }
    });
    $("#co_plazo").change(function () {
        var plazo = Number($("#co_plazo").val());
        if (plazo > 0) {
            var new_date = moment(co_FechaFactura.GetDate(), "DD-MM-YYYY").add(plazo, 'days');
            co_FechaFactura_vct.SetDate(new Date(new_date));
        };
    });

    $("#IdIden_credito").change(function () {

        var tipo_doc = $("#IdIden_credito").val();

        if (tipo_doc == "04")
        {
            $("#tab_documento_modificado").show();
        }
        else
        {
            $("#tab_documento_modificado").hide();

        }
    });


    function actualizar_valores() {
        var base_iva = $("#co_subtotal_iva").val();
        var base_cero = $("#co_subtotal_siniva").val();
        var iva = base_iva * 0.12;
        if (base_iva == "")
            base_iva = 0;
        if (base_cero == "")
            base_cero = 0;
        if (iva == "")
            iva = 0;
        var tot = parseFloat(parseFloat(base_iva) + parseFloat(base_cero) + parseFloat(iva));
        $('#co_valoriva').val(iva.toFixed(2));
        if (tot > 0) {
            $('#co_total').val(tot.toFixed(2));
            $('#Total_a_pagar').val(tot.toFixed(2));

        }
        else
            $('#co_total').val(0.00);
        if(iva>0)
            $('#co_Por_iva').val(12);
        else
            $('#co_Por_iva').val(0.00);



    }
    $("#Num_cuotas").keyup(function () {
        get_cuotas();
    });
    $("#Dias_plazo").keyup(function () {
        get_cuotas();
    });
    $("#Total_a_pagar").keyup(function () {
        get_cuotas();
    });

    function rellenar_ceros_izquierda() {
        var str = "" + Number($("#co_factura").val());
        var pad = "000000000";
        var doc = pad.substring(0, pad.length - str.length) + str;

        $("#co_factura").val(doc);
    }

    function rellenar_ceros_izq() {
        var str = "" + Number($("#num_docu_Modificar").val());
        var pad = "000000000";
        var doc = pad.substring(0, pad.length - str.length) + str;

        $("#num_docu_Modificar").val(doc);
    }
    // calcular cuotas
    function get_cuotas()
    {

        var Fecha_i = Fecha_inicio.GetDate();
        var Num_cuot = $("#Num_cuotas").val();
        var Dias_plaz = $("#Dias_plazo").val();
        var Total_a_pag = $("#Total_a_pagar").val();

        if (Num_cuot > 0 && Dias_plaz > 0 && Total_a_pag > 0) {
            var datos = {
                Fecha_inicio: Fecha_i,
                Num_cuotas: Num_cuot,
                Dias_plazo: Dias_plaz,
                Total_a_pagar: Total_a_pag,
                IdTransaccionSession: $("#IdTransaccionSession").val()
            }
            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("calcular_cuotas","Deudas", new { Area = "CuentasPorPagar" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    GridViewPartial_documento_cuotas_det.PerformCallback();
                },
                error: function (error) {
                }
            });
        }
    };

  // obtener tipo de documento
    function get_list_tipo_doc() {


        get_info_proveedor();
        if (IdProveedor.GetValue() > 0 && $("#IdIden_credito").val() != "") {
            var datos = {
                IdProveedor:  IdProveedor.GetValue(),
                codigoSRI: $("#IdIden_credito").val(),
                IdEmpresa: $("#IdEmpresa").val()

            }
            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("get_list_tipo_doc", "Deudas", new { Area = "CuentasPorPagar" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $.each(data, function (i, row) {
                        $("#IdOrden_giro_Tipo").append("<option value=" + row.CodTipoDocumento + ">" + row.Descripcion + "</option>");
                        $("#cmbTipoDocu_modif").append("<option value=" + row.CodTipoDocumento + ">" + row.Descripcion + "</option>");
                    });
                },
                error: function (error) {
                }
            });
        }
    };
    // armar diario contable

    function armar_diario() {
            var datos = {
            IdProveedor :  IdProveedor.GetValue(),
            co_subtotal_iva : $("#co_subtotal_iva").val(),
            co_subtotal_siniva : $("#co_subtotal_siniva").val(),
            co_valoriva : $("#co_valoriva").val(),
            co_total : $("#co_total").val(),
            observacion: $("#observacion").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
            }
            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("armar_diario", "Deudas", new { Area = "CuentasPorPagar" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                 GridViewPartial_deudas_dc.PerformCallback();
                },
                error: function (error) {
                }
            });

    };



    function get_info_proveedor() {



        if (IdProveedor.GetValue() > 0)  {
            var datos = {
                IdProveedor: IdProveedor.GetValue()
            }
            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("get_info", "Proveedor", new { Area = "CuentasPorPagar" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.pr_plazo == 0)
                    {
                        $("#co_plazo").val(1);
                    }
                    else
                    {
                        var date = moment(co_FechaFactura.GetValue(), "DD-MM-YYYY").add(data.pr_plazo, 'days');
                        co_FechaFactura_vct.SetValue(new Date(moment(date).format("DD/MM/YYYY")));
                    }


                },
                error: function (error) {
                }
            });
        }
    };

    function cargar_bodega() {
        $("#IdBodega").empty();

        var sucursal = $("#IdSucursal").val();

            var datos = {
                IdEmpresa: $("#IdEmpresa").val(),
            IdSucursal: sucursal
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("cargar_bodega", "InventarioReportes", new { Area = "Reportes" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.each(data, function (i, row) {
                    $("#IdBodega").append("<option value=" + row.IdBodega + ">" + row.bo_Descripcion + "</option>");
                });
            },
            error: function (error) {
            }
        });
    };
            function GetInfo_Producto(s, e) {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdProducto: s.GetValue()

        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("GetInfo_Producto", "Deudas",new { Area = "CuentasPorPagar"})',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridView_deuda_det.GetEditor('IdCod_Impuesto_Iva').SetValue(data.IdCod_Impuesto_Iva);
            },
            error: function (error) {
            }
        });
    };
</script>
