@model Core.Erp.Info.Importacion.imp_liquidacion_Info
@{
    ViewBag.Title = "Liquidacion de orden de compra";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Nuevo", "LiquidacionOrdenCompra", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdOrdenCompra_ext, new { @id = "IdOrdenCompra_ext" })
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    @Html.HiddenFor(q => q.IdCtaCble_importacion, new { @id = "IdCtaCble_importacion" })


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdOrdenCompra_ext">ID orden compra</label>
                    @Html.TextBoxFor(q => q.IdOrdenCompra_ext, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.IdOrdenCompra_ext, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdProveedor">Proveedor*</label>
                    @Html.TextBoxFor(q => q.pe_nombreCompleto, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.pe_nombreCompleto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="li_fecha">Fecha liquidación</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q=> q.li_fecha, settings =>
                    {
                        settings.Name = "li_fecha";
                        settings.Properties.UseMaskBehavior = true;
                        settings.Properties.EditFormat = EditFormat.Date;
                        settings.Properties.EditFormatString = "dd/MM/yyyy";
                        settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
                        @Html.ValidationMessageFor(q => q.li_fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="oe_fecha">Fecha contable</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q=> q.oe_fecha, settings =>
                    {
                        settings.Name = "oe_fecha";
                        settings.Properties.UseMaskBehavior = true;
                        settings.Properties.EditFormat = EditFormat.Date;
                        settings.Properties.EditFormatString = "dd/MM/yyyy";
                        settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
                        @Html.ValidationMessageFor(q => q.oe_fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdProveedor">Código liquidación</label>
                    @Html.TextBoxFor(q => q.li_codigo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.li_codigo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdProveedor">Número documento aduanero</label>
                    @Html.TextBoxFor(q => q.li_num_documento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.li_num_documento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdSucursal">Sucursal invenario*</label>
                    @Html.DropDownListFor(q => q.IdSucursal_inv, new SelectList(ViewBag.lst_sucursal, "IdSucursal", "Su_Descripcion"), new { @class = "form-control", @id = "IdSucursal" })
                    @Html.ValidationMessageFor(q => q.IdSucursal_inv, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdBodega">Bodega inventario*</label>
                    @Html.DropDownListFor(q => q.IdBodega_inv, new SelectList(ViewBag.lst_bodega, "IdBodega", "bo_Descripcion"), new { @class = "form-control", @id = "IdBodega" })
                    @Html.ValidationMessageFor(q => q.IdBodega_inv, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdCtaCble_importacion">Observación*</label>
                    @Html.TextAreaFor(q => q.li_observacion, new { @class = "form-control", @rows = 2 })
                    @Html.ValidationMessageFor(q => q.li_observacion, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>

    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab_detalle" aria-controls="informacion_items" role="tab" data-toggle="tab">Detalle de items</a>
            </li>
            <li>
                <a href="#tab_gastos" aria-controls="otros" role="tab" data-toggle="tab">Detalle de gastos</a>
            </li>
            <li>
                <a href="#tab_diario_contable" aria-controls="otros" role="tab" data-toggle="tab">Diario contable</a>
            </li>

        </ul>
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_detalle">
                @Html.Action("GridViewPartial_liquidacion_oc_det")
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_gastos">
                @Html.Action("GridViewPartial_liquidacion_gastos", new { IdTransaccionSession = Model.IdTransaccionSession })
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_diario_contable">
                @Html.Action("GridViewPartial_liqidacion_dc")


            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn-primary" onclick="calclar_costo();">Calcular</button>
        @Html.ActionLink("Imprimir", "IMP_002", new { Area = "Reportes", Controller = "ImportacionReportes", IdOrdenCompra_ext = Model.IdOrdenCompra_ext }, new { @class = "btn btn-primary", target = "_blank" })
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "LiquidacionOrdenCompra", new { Area ="Importacion" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

<script>

    function calclar_costo() {
        var datos = {
            IdTransaccionSession: $("#IdTransaccionSession").val(),
            IdOrdenCompra_ext: $("#IdOrdenCompra_ext").val(),
            IdCtaCble_importacion: $("#IdCtaCble_importacion").val(),

        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("calcular_costo", "LiquidacionOrdenCompra",new { Area = "Importacion"})',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_liquidacion_oc_det.PerformCallback();
                GridViewPartial_liqidacion_dc.PerformCallback();
            },
            error: function (error) {
            }
        });
    }



</script>