@model Core.Erp.Info.Presupuesto.pre_Presupuesto_Info
@{
    ViewBag.Title = "Aprobación de presupuesto";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Aprobar", "AprobacionPresupuesto", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    @Html.HiddenFor(q => q.IdEmpresa);
    @Html.HiddenFor(q => q.IdPresupuesto);
    @Html.HiddenFor(q => q.IdTransaccionSession);
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdSucursal">Sucursal*</label>
                    @Html.DropDownListFor(q => q.IdSucursal, new SelectList(ViewBag.lst_Sucursal, "IdSucursal", "Su_Descripcion"), new { @class = "form-control", @id = "IdSucursal" })
                    @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdPeriodo">Periodo*</label>
                    @Html.DropDownListFor(q => q.IdPeriodo, new SelectList(ViewBag.lst_Periodo, "IdPeriodo", "DescripcionPeriodo"), new { @class = "form-control", @id = "IdPeriodo" })
                    @Html.ValidationMessageFor(q => q.IdPeriodo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdGrupo">Grupo*</label>
                    @Html.DropDownListFor(q => q.IdGrupo, new SelectList(ViewBag.lst_Grupo, "IdGrupo", "Descripcion"), new { @class = "form-control", @id = "IdGrupo" })
                    @Html.ValidationMessageFor(q => q.IdGrupo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Observacion">Observación</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>  
    <div class="modal-body">
        @Html.Action("GridViewPartial_AprobacionPresupuestoDet")
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="MontoSolicitado">Monto Solicitado</label>
                    @Html.TextBoxFor(q => q.MontoSolicitado, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(q => q.MontoSolicitado, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="MontoAprobado">Monto Aprobado*</label>
                    @Html.TextBoxFor(q => q.MontoAprobado, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.MontoAprobado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="MotivoAprobacion">Motivo*</label>
                    @Html.TextBoxFor(q => q.MotivoAprobacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.MotivoAprobacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "AprobacionPresupuesto", new { Area ="Presupuesto" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


