@model Core.Erp.Info.Importacion.imp_liquidacion_det_x_imp_orden_compra_ext_Info
@{
    ViewBag.Title = "Recepcion de ordene de compra";
    //if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    //{
    //    Response.Redirect("~/Account/Login");
    //}
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
}

@using (Html.BeginForm("Nuevo", "LiquidacionImportacion", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdOrdenCompraExt)
    @Html.HiddenFor(q => q.IdEmpresa)

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdOrdenCompraExt">Id Orden compra</label>
                    @Html.TextBoxFor(q => q.IdOrdenCompraExt, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.IdOrdenCompraExt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdCatalogo_via">Tipo de embarque*</label>
                    @Html.DropDownListFor(q => q.IdCatalogo_via, new SelectList(ViewBag.lst_catalogos, "IdCatalogo", "ca_descripcion"), new { @class = "form-control" , @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.IdCatalogo_via, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-10 col-med-2">
                <div class="form-group">
                    <label for="">Fecha O.C</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.TextBoxFor(q => q.oe_fecha, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "fecha_oc" , @disabled = "disabled" })
                        @Html.ValidationMessageFor(q => q.oe_fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdProveedor">Proveedor*</label>
                    @Html.TextBoxFor(q => q.pe_nombreCompleto, new { @class = "form-control", @disabled="disabled" })
                </div>
            </div>
            <div class="col-md-offset-10 col-med-2">
                <div class="form-group">
                    <label for="">Fecha recepcion</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.TextBoxFor(q => q.or_fecha, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "or_fecha" })
                        @Html.ValidationMessageFor(q => q.oe_fecha_embarque, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="or_observacion">Observación recepcion de mercaderia</label>
                    @Html.TextAreaFor(q => q.or_observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.oe_observacion, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>


    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab_detalle_items" aria-controls="informacion_items" role="tab" data-toggle="tab">Detalle de productos</a>
            </li>
            <li>
                <a href="#tab_detalle_gastos" aria-controls="gastos" role="tab" data-toggle="tab">Detalle de gastos incurridos</a>
            </li>
            <li>
                <a href="#tab_diarios" aria-controls="diarios" role="tab" data-toggle="tab">Diarios contables</a>
            </li>

        </ul>
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_detalle_items">
                @Html.Action("GridViewPartial_orden_compra_ext_det")
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_detalle_gastos">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            @Html.Action("GridViewPartial_gastos_por_asignar")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            @Html.Action("GridViewPartial_gastos_asignados")
                        </div>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_diarios">


            </div>
        </div>
    </div>


    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "LiquidacionImportacion", new { Area ="Importacion" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

<script>

    $(function () {


        $('#or_fecha').datepicker({
            autoclose: true
        });
       
        
    });


</script>