@model Core.Erp.Info.CuentasPorPagar.cp_parametros_Info
@{
    ViewBag.Title = "Modificar";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";



    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "ParametrosCXP", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    <div class="row">
        <div class="container-fluid">

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Cuentas contable para facturas de proveedores</h3>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="IdTipoCbte_AsientoSueldoXPagar">Tipo comprobante para facturas*</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_TipoCbte_OG, settings =>
                                           {
                                               settings.Name = "pa_TipoCbte_OG";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                               settings.Properties.Columns.Add("CodTipoCbte", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                               settings.Properties.Columns.Add("tc_TipoCbte", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(10);

                                               //Campo ID
                                               settings.Properties.ValueField = "IdTipoCbte";
                                               settings.Properties.ValueType = typeof(int);
                                               settings.Properties.TextField = "tc_TipoCbte";
                                               //Boton para seleccionar ningun registro
                                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                               settings.Properties.NullText = "== Seleccione ==";
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                           }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_TipoCbte_OG, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="IdTipoCbte_AsientoSueldoXPagar">Tipo comprobante para anulación de facturas*</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_TipoCbte_OG_anulacion, settings =>
                                           {
                                               settings.Name = "pa_TipoCbte_OG_anulacion";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                               settings.Properties.Columns.Add("CodTipoCbte", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                               settings.Properties.Columns.Add("tc_TipoCbte", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(10);

                                               //Campo ID
                                               settings.Properties.ValueField = "IdTipoCbte";
                                               settings.Properties.ValueType = typeof(int);
                                               settings.Properties.TextField = "tc_TipoCbte";
                                               //Boton para seleccionar ningun registro
                                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                               settings.Properties.NullText = "== Seleccione ==";
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                           }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_TipoCbte_OG_anulacion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="IdCtaCblePadre">Cuenta contable deudora</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_ctacble_deudora, settings =>
                                               {
                                                   settings.Name = "pa_ctacble_deudora";
                                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                                   settings.Properties.Columns.Add("IdCtaCble", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                                   settings.Properties.Columns.Add("pc_Cuenta", "Cuenta").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                                   settings.Properties.Columns.Add("pc_Cuenta_padre", "Cuenta padre").Width = System.Web.UI.WebControls.Unit.Percentage(40);
                                                   //Campo ID
                                                   settings.Properties.ValueField = "IdCtaCble";
                                                   settings.Properties.ValueType = typeof(string);
                                                   settings.Properties.TextField = "pc_Cuenta";
                                                   //Boton para seleccionar ningun registro
                                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                                   settings.Properties.NullText = "== Seleccione ==";
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                               }).BindList(ViewBag.lst_cuenta_contable).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_ctacble_deudora, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_ctacble_iva">Cuenta contable iva</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_ctacble_iva, settings =>
                                               {
                                                   settings.Name = "pa_ctacble_iva";
                                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                                   settings.Properties.Columns.Add("IdCtaCble", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                                   settings.Properties.Columns.Add("pc_Cuenta", "Cuenta").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                                   settings.Properties.Columns.Add("pc_Cuenta_padre", "Cuenta padre").Width = System.Web.UI.WebControls.Unit.Percentage(40);
                                                   //Campo ID
                                                   settings.Properties.ValueField = "IdCtaCble";
                                                   settings.Properties.ValueType = typeof(string);
                                                   settings.Properties.TextField = "pc_Cuenta";
                                                   //Boton para seleccionar ningun registro
                                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                                   settings.Properties.NullText = "== Seleccione ==";
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                               }).BindList(ViewBag.lst_cuenta_contable).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_ctacble_iva, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_ctacble_Proveedores_default">Cuenta contable por default a proveedores</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_ctacble_Proveedores_default, settings =>
                                               {
                                                   settings.Name = "pa_ctacble_Proveedores_default";
                                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                                   settings.Properties.Columns.Add("IdCtaCble", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                                   settings.Properties.Columns.Add("pc_Cuenta", "Cuenta").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                                   settings.Properties.Columns.Add("pc_Cuenta_padre", "Cuenta padre").Width = System.Web.UI.WebControls.Unit.Percentage(40);
                                                   //Campo ID
                                                   settings.Properties.ValueField = "IdCtaCble";
                                                   settings.Properties.ValueType = typeof(string);
                                                   settings.Properties.TextField = "pc_Cuenta";
                                                   //Boton para seleccionar ningun registro
                                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                                   settings.Properties.NullText = "== Seleccione ==";
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                               }).BindList(ViewBag.lst_cuenta_contable).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_ctacble_Proveedores_default, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Comprobante contable para NC/ND</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_TipoCbte_NC">Tipo comprobante para NC*</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_TipoCbte_NC, settings =>
                                           {
                                               settings.Name = "pa_TipoCbte_NC";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                               settings.Properties.Columns.Add("CodTipoCbte", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                               settings.Properties.Columns.Add("tc_TipoCbte", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(10);

                                               //Campo ID
                                               settings.Properties.ValueField = "IdTipoCbte";
                                               settings.Properties.ValueType = typeof(int);
                                               settings.Properties.TextField = "tc_TipoCbte";
                                               //Boton para seleccionar ningun registro
                                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                               settings.Properties.NullText = "== Seleccione ==";
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                           }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_TipoCbte_NC, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_TipoCbte_NC">Tipo comprobante para anulación NC*</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_TipoCbte_NC_anulacion, settings =>
                                           {
                                               settings.Name = "pa_TipoCbte_NC_anulacion";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                               settings.Properties.Columns.Add("CodTipoCbte", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                               settings.Properties.Columns.Add("tc_TipoCbte", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(10);

                                               //Campo ID
                                               settings.Properties.ValueField = "IdTipoCbte";
                                               settings.Properties.ValueType = typeof(int);
                                               settings.Properties.TextField = "tc_TipoCbte";
                                               //Boton para seleccionar ningun registro
                                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                               settings.Properties.NullText = "== Seleccione ==";
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                           }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_TipoCbte_NC_anulacion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_TipoCbte_ND">Tipo comprobante para ND*</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_TipoCbte_ND, settings =>
                                           {
                                               settings.Name = "pa_TipoCbte_ND";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                               settings.Properties.Columns.Add("CodTipoCbte", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                               settings.Properties.Columns.Add("tc_TipoCbte", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(10);

                                               //Campo ID
                                               settings.Properties.ValueField = "IdTipoCbte";
                                               settings.Properties.ValueType = typeof(int);
                                               settings.Properties.TextField = "tc_TipoCbte";
                                               //Boton para seleccionar ningun registro
                                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                               settings.Properties.NullText = "== Seleccione ==";
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                           }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_TipoCbte_ND, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_TipoCbte_ND_anulacion">Tipo comprobante para anulación ND*</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_TipoCbte_ND_anulacion, settings =>
                                           {
                                               settings.Name = "pa_TipoCbte_ND_anulacion";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                               settings.Properties.Columns.Add("CodTipoCbte", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                               settings.Properties.Columns.Add("tc_TipoCbte", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(10);

                                               //Campo ID
                                               settings.Properties.ValueField = "IdTipoCbte";
                                               settings.Properties.ValueType = typeof(int);
                                               settings.Properties.TextField = "tc_TipoCbte";
                                               //Boton para seleccionar ningun registro
                                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                               settings.Properties.NullText = "== Seleccione ==";
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                           }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_TipoCbte_ND_anulacion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Comprobante contable para retención a la fuente</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_TipoCbte_NC">Tipo comprobante para retención a la fuente*</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_IdTipoCbte_x_Retencion, settings =>
                                           {
                                               settings.Name = "pa_IdTipoCbte_x_Retencion";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                               settings.Properties.Columns.Add("CodTipoCbte", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                               settings.Properties.Columns.Add("tc_TipoCbte", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(10);

                                               //Campo ID
                                               settings.Properties.ValueField = "IdTipoCbte";
                                               settings.Properties.ValueType = typeof(int);
                                               settings.Properties.TextField = "tc_TipoCbte";
                                               //Boton para seleccionar ningun registro
                                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                               settings.Properties.NullText = "== Seleccione ==";
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                           }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_IdTipoCbte_x_Retencion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_IdTipoCbte_x_Anu_Retencion">Tipo comprobante para anulación por retención a la fuente*</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_IdTipoCbte_x_Anu_Retencion, settings =>
                                           {
                                               settings.Name = "pa_IdTipoCbte_x_Anu_Retencion";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                               settings.Properties.Columns.Add("CodTipoCbte", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                               settings.Properties.Columns.Add("tc_TipoCbte", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(10);

                                               //Campo ID
                                               settings.Properties.ValueField = "IdTipoCbte";
                                               settings.Properties.ValueType = typeof(int);
                                               settings.Properties.TextField = "tc_TipoCbte";
                                               //Boton para seleccionar ningun registro
                                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                               settings.Properties.NullText = "== Seleccione ==";
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                           }).BindList(ViewBag.lst_tipo_comprobante).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_IdTipoCbte_x_Anu_Retencion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_ctacble_Proveedores_default">Cuenta contable por default retención a la fuente</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_ctacble_x_RetFte_default, settings =>
                                               {
                                                   settings.Name = "pa_ctacble_x_RetFte_default";
                                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                                   settings.Properties.Columns.Add("IdCtaCble", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                                   settings.Properties.Columns.Add("pc_Cuenta", "Cuenta").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                                   settings.Properties.Columns.Add("pc_Cuenta_padre", "Cuenta padre").Width = System.Web.UI.WebControls.Unit.Percentage(40);
                                                   //Campo ID
                                                   settings.Properties.ValueField = "IdCtaCble";
                                                   settings.Properties.ValueType = typeof(string);
                                                   settings.Properties.TextField = "pc_Cuenta";
                                                   //Boton para seleccionar ningun registro
                                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                                   settings.Properties.NullText = "== Seleccione ==";
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                               }).BindList(ViewBag.lst_cuenta_contable).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_ctacble_x_RetFte_default, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pa_ctacble_x_RetIva_default">Cuenta contable por default retención iva</label>
                                            @Html.DevExpress().ComboBoxFor(q => q.pa_ctacble_x_RetIva_default, settings =>
                                               {
                                                   settings.Name = "pa_ctacble_x_RetIva_default";
                                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                                   settings.Properties.Columns.Add("IdCtaCble", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                                   settings.Properties.Columns.Add("pc_Cuenta", "Cuenta").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                                   settings.Properties.Columns.Add("pc_Cuenta_padre", "Cuenta padre").Width = System.Web.UI.WebControls.Unit.Percentage(40);
                                                   //Campo ID
                                                   settings.Properties.ValueField = "IdCtaCble";
                                                   settings.Properties.ValueType = typeof(string);
                                                   settings.Properties.TextField = "pc_Cuenta";
                                                   //Boton para seleccionar ningun registro
                                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                                                   settings.Properties.NullText = "== Seleccione ==";
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                               }).BindList(ViewBag.lst_cuenta_contable).GetHtml()
                                            @Html.ValidationMessageFor(q => q.pa_ctacble_x_RetIva_default, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","ParametrosCXP",new { Area = "CuentasPorPagar" },null)">Cancelar</a>
    </div>

}