@model Core.Erp.Info.Helps.cl_filtros_Info
@{
    Layout = "~/Areas/Reportes/Views/Layout/_Layout_filtros.cshtml";
    ViewBag.Title = "FAC_001";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}
@using (Html.BeginForm("FAC_001", "FacturacionReportes", FormMethod.Post, new { @class = "form", @role = "form" }))
{
<div class="box collapsed-box">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="IdProducto">Producto</label>
                        @Html.DevExpress().ComboBoxFor(q => q.IdProducto, settings =>
                   {
                       settings.Name = "IdProducto";
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       settings.Properties.DisplayFormatString = "[{0}] - {1}";
                       settings.Properties.Columns.Add("IdProducto", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(15);
                       settings.Properties.Columns.Add("pr_descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(60);
                       settings.Properties.Columns.Add("nom_presentacion", "Presentación").Width = System.Web.UI.WebControls.Unit.Percentage(20);
                       settings.Properties.Columns.Add("nom_categoria", "Categoría").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                       //Campo ID
                       settings.Properties.ValueField = "IdProducto";
                       settings.Properties.ValueType = typeof(decimal);
                       settings.Properties.TextField = "pr_descripcion";
                       //Boton para seleccionar ningun registro
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                       settings.Properties.NullText = "== Seleccione ==";
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e,){cargar_producto()}";
                       settings.Properties.AllowNull = true;
                   }).BindList(ViewBag.lst_producto).GetHtml()
                        @Html.ValidationMessageFor(q => q.IdProducto, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="IdProducto_padre">Producto padre</label>
                        @Html.DevExpress().ComboBoxFor(q => q.IdProducto_padre, settings =>
                   {
                       settings.Name = "IdProducto_padre";
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       settings.Properties.DisplayFormatString = "[{0}] - {1}";
                       settings.Properties.Columns.Add("IdProducto", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                       settings.Properties.Columns.Add("pr_descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(25);
                       settings.Properties.Columns.Add("nom_presentacion", "Presentación").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                       settings.Properties.Columns.Add("nom_categoria", "Categoría").Width = System.Web.UI.WebControls.Unit.Percentage(35);
                       settings.Properties.Columns.Add("lote_num_lote", "Lote").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                       settings.Properties.Columns.Add("lote_fecha_vcto", "Lote vcto").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                       //Campo ID
                       settings.Properties.ValueField = "IdProducto_padre";
                       settings.Properties.ValueType = typeof(decimal);
                       settings.Properties.TextField = "pr_descripcion";
                       //Boton para seleccionar ningun registro
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                       settings.Properties.NullText = "== Seleccione ==";
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e,){cargar_producto()}";
                       settings.Properties.AllowNull = true;
                   }).BindList(ViewBag.lst_producto_padre).GetHtml()
                        @Html.ValidationMessageFor(q => q.IdProducto_padre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdCliente">Cliente</label>
                    @Html.Partial("_CmbCliente_Facturacion", Model)
                    @Html.ValidationMessageFor(q => q.IdCliente, "", new { @class = "text-danger",@id="IdCliente" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdClienteContacto">Cliente contacto</label>
                    @Html.DropDownListFor(q=>q.IdClienteContacto, new SelectList(ViewBag.lst_contacto, "IdContacto", "Nombres"), new { @class="form-control", @id="IdClienteContacto"})
                    @Html.ValidationMessageFor(q => q.IdClienteContacto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdSucursal">Sucursal</label>
                    @Html.DropDownListFor(q=>q.IdSucursal, new SelectList(ViewBag.lst_sucursal, "IdSucursal", "Su_Descripcion"), new { @class="form-control"})
                    @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="">Fecha inicio*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.TextBoxFor(q => q.fecha_ini, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "fecha_ini" })
                        @Html.ValidationMessageFor(q => q.fecha_ini, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="">Fecha fin*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.TextBoxFor(q => q.fecha_fin, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "fecha_fin" })
                        @Html.ValidationMessageFor(q => q.fecha_fin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
                </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    @Html.DevExpress().WebDocumentViewer(settings =>
               {
                   settings.MobileMode = false;
                   settings.Name = "webDocumentViewer";
               }).Bind(ViewBag.Report).GetHtml();
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    [@Session["IdEmpresa"]] @Session["nom_empresa"]
                </div>
                <!-- /.box-footer-->
            </div>
            }
        <script>
            $(function () {
                //Date picker
                $('#fecha_ini').datepicker({
                    autoclose: true
                })
                $('#fecha_fin').datepicker({
                    autoclose: true
                })

                cargar_cliente();
                $("#IdCliente").change(function () {
                    cargar_cliente();
                });
                $("#IdClienteContacto").change(function () {
                    cargar_cliente();
                });
            });
            function cargar_cliente() {
                var codigo = IdCliente.GetValue();

                    var datos = {
                        IdCliente: codigo
                    }
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(datos),
                        url: '@Url.Action("cargar_cliente", "FacturacionReportes",new { Area = "Reportes"})',
                        async: false,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $.each(data, function (i, row) {
                                $("#IdClienteContacto").append("<option value=" + row.IdClienteContacto + ">" + row.Nombres + "</option>");
                        });
                    },
                    error: function (error) {
                    }
                });
            };
            </script>
