@model Core.Erp.Info.General.tb_sis_Documento_Tipo_Info
@{
    ViewBag.Title = "Modificar tipo";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Modificar", "TipoDocumento", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.codDocumentoTipo)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="codDocumentoTipo">Código*</label>
                    @Html.TextBoxFor(q => q.codDocumentoTipo, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(q => q.codDocumentoTipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            @Html.TextBoxFor(q => q.descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="Posicion">Posición</label>
                    @Html.TextBoxFor(q => q.Posicion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Posicion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","TipoDocumento",new { Area = "General" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}