@model Core.Erp.Info.Contabilidad.ct_cbtecble_tipo_Info
@{
    ViewBag.Title = "Anular tipo";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}
@using (Html.BeginForm("Anular", "ContableTipo", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdTipoCbte)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CodTipoCbte">Código*</label>
                    @Html.TextBoxFor(q => q.CodTipoCbte, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.CodTipoCbte, "", new { @class = "form", @role = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tc_TipoCbte">Descripción*</label>
                    @Html.TextBoxFor(q => q.tc_TipoCbte, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.tc_TipoCbte, "", new { @class = "form", @role = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index","ContableTipo",new { Area = "Contabilidad" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}