@using System.Web.UI.WebControls;
@model Core.Erp.Info.RRHH.ro_participacion_utilidad_Info

@{
    ViewBag.Title = "Modificar";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "ParticipacionUtilidad", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdUtilidad)
    @Html.HiddenFor(q => q.IdEmpresa)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaInicio">Nómina*</label>
                    @Html.DropDownListFor(q => q.IdNomina_Tipo, new SelectList(ViewBag.lst_nomina, "IdNomina_Tipo", "Descripcion"), "== Seleccione ==", new { @class = "form-control", @id = "IdNomina_Tipo" })
                    @Html.ValidationMessageFor(q => q.IdNomina_Tipo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">Tipo liquidación nómina*</label>
                    @Html.DropDownListFor(q => q.IdNomina_TipoLiqui, new SelectList(ViewBag.lst_nomina_tipo, "IdNomina_TipoLiqui", "DescripcionProcesoNomina"), "== Seleccione ==", new { @class = "form-control", @id = "IdNomina_TipoLiqui" })
                    @Html.ValidationMessageFor(q => q.IdNomina_TipoLiqui, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">Período*</label>
                    @Html.DropDownListFor(q => q.IdPeriodo, new SelectList(ViewBag.lst_periodos, "IdPeriodo", "Descripcion"), "== Seleccione ==", new { @class = "form-control", @id = "IdPeriodo" })
                    @Html.ValidationMessageFor(q => q.IdPeriodo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">10% Individual*</label>
                    @Html.TextBoxFor(q => q.UtilidadDerechoIndividual, new { @class = "form-control", @id = "UtilidadDerechoIndividual" })
                    @Html.ValidationMessageFor(q => q.UtilidadDerechoIndividual, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">5% Por cargas*</label>
                    @Html.TextBoxFor(q => q.UtilidadCargaFamiliar, new { @class = "form-control", @id = "UtilidadCargaFamiliar" })
                    @Html.ValidationMessageFor(q => q.UtilidadCargaFamiliar, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Action("GridViewPartial_utilidades_detalle")
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-primary" onclick="calcular_utilidades()">Calcular</button>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a class="btn btn-default" href="@Url.Action("Index","ParticipacionUtilidad",new { Area = "RRHH" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

<script>


       $("#IdNomina_Tipo").change(function () {
           $("#IdNomina_TipoLiqui").empty();
             cargar_tipo_liquidacion_nomina();

        });

       $("#IdNomina_TipoLiqui").change(function () {
           $("#IdPeriodo").empty();
            cargar_periodos_x_nomina();
        });



        function cargar_tipo_liquidacion_nomina() {
            var datos = {
                IdNomina: $("#IdNomina_Tipo").val()
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("get_lst_nomina_tipo_liq","ParticipacionUtilidad", new { Area = "RRHH" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $.each(data, function (i, row) {
                        $("#IdNomina_TipoLiqui").append("<option value=" + row.IdNomina_TipoLiqui + ">" + row.DescripcionProcesoNomina + "</option>");
                    });
                },
                error: function (error) {
                }
            });
        };

    function cargar_periodos_x_nomina() {
        var datos = {
            IdNomina: $("#IdNomina_Tipo").val(),
            IdNomina_Tipo: $("#IdNomina_TipoLiqui").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("get_lst_periodo_x_nomina","ParticipacionUtilidad", new { Area = "RRHH" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $.each(data, function (i, row) {
                    $("#IdPeriodo").append("<option value=" + row.IdPeriodo + ">" + row.descripcion + "</option>");
                });
            },
            error: function (error) {
            }
        });
    };



</script>


<script>



        function calcular_utilidades() {
            var datos = {
                IdNomina_Tipo: $("#IdNomina_Tipo").val(),
                IdPeriodo: $("#IdPeriodo").val(),
                UtilidadDerechoIndividual: $("#UtilidadDerechoIndividual").val(),
                UtilidadCargaFamiliar: $("#UtilidadCargaFamiliar").val()
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("calcular","ParticipacionUtilidad", new { Area = "RRHH" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    GridViewPartial_utilidades_detalle.PerformCallback();
                },
                error: function (error) {
                }
            });
        };
</script>