@model Core.Erp.Info.Contabilidad.ct_plancta_nivel_Info
@{
    ViewBag.Title = "Nuevo nivel";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Nuevo", "PlanDeCuentasNivel", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdNivelCta">Nivel*</label>
                    @Html.TextBoxFor(q => q.IdNivelCta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdNivelCta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="nv_NumDigitos">Dígitos*</label>
                    @Html.TextBoxFor(q => q.nv_NumDigitos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.nv_NumDigitos, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nv_Descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.nv_Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.nv_Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "PlanDeCuentasNivel", new { Area ="Contabilidad" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}