@model Core.Erp.Info.ActivoFijo.Af_Activo_fijo_Info
@{
    ViewBag.Title = "Modificar activo";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "ActivoFijo", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdActivoFijo)
    @Html.HiddenFor(q => q.Estado_Proceso);
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="CodActivoFijo">Código</label>
                    @Html.TextBoxFor(q => q.CodActivoFijo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.CodActivoFijo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Af_Codigo_Barra">Código de barra</label>
                    @Html.TextBoxFor(q => q.Af_Codigo_Barra, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Af_Codigo_Barra, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Estado_Proceso">Estado de proceso</label>
                    @Html.DropDownListFor(q => q.Estado_Proceso, new SelectList(ViewBag.lst_estado, "IdCatalogo", "Descripcion"), new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.Estado_Proceso, "", new { @class = "text-danger", @id = "pe_cedulaRuc" })
                </div>
            </div>
            <div class="col-md-offset-3 col-md-2">
                <div class="form-group">
                    <label for="Af_fecha_compra">Fecha de compra</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q=> q.Af_fecha_compra, settings =>
                    {
                        settings.Name = "Af_fecha_compra";
                        settings.Properties.UseMaskBehavior = true;
                        settings.Properties.EditFormat = EditFormat.Date;
                        settings.Properties.EditFormatString = "dd/MM/yyyy";
                        settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
                        @Html.ValidationMessageFor(q => q.Af_fecha_compra, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdSucursal">Sucursal</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdSucursal, settings =>
               {
                   settings.Name = "IdSucursal";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("IdSucursal", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("Su_Descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                   //Campo ID
                   settings.Properties.ValueField = "IdSucursal";
                   settings.Properties.ValueType = typeof(int);
                   settings.Properties.TextField = "Su_Descripcion";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
               }).BindList(ViewBag.lst_sucursal).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdActijoFijoTipo">Tipo activo*</label>
                    @Html.DropDownListFor(q => q.IdActivoFijoTipo, new SelectList(ViewBag.lst_tipo, "IdActivoFijoTipo", "Af_Descripcion"), new { @class = "form-control", @id = "IdActivoFijoTipo" })
                    @Html.ValidationMessageFor(q => q.IdActivoFijoTipo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdCategoriaAF">Categoría*</label>
                    @Html.DropDownListFor(q => q.IdCategoriaAF, new SelectList(ViewBag.lst_categoria, "IdCategoriaAF", "Descripcion"), new { @class = "form-control", @id = "IdCategoriaAF" })
                    @Html.ValidationMessageFor(q => q.IdCategoriaAF, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Af_Nombre">Nombre*</label>
                    @Html.TextBoxFor(q => q.Af_Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Af_Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Af_DescripcionCorta">Descripción corta</label>
                    @Html.TextBoxFor(q => q.Af_DescripcionCorta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Af_DescripcionCorta, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Af_DescripcionTecnica">Descripción técnica</label>
                    @Html.TextBoxFor(q => q.Af_DescripcionTecnica, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Af_DescripcionTecnica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab_configuracion" aria-controls="configuracion" role="tab" data-toggle="tab">Configuración del activo</a>
            </li>
            <li>
                <a href="#tab_caracteristicas" aria-controls="caracteristicas" role="tab" data-toggle="tab">Características del activo</a>
            </li>
        </ul>
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_configuracion">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_Vida_Util">Vida útil</label>
                                @Html.TextBoxFor(q => q.Af_Vida_Util, new { @class = "form-control", @id = "Af_Vida_Util" })
                                @Html.ValidationMessageFor(q => q.CodActivoFijo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_Meses_depreciar">Meses a depreciar</label>
                                @Html.TextBoxFor(q => q.Af_Meses_depreciar, new { @class = "form-control", @id = "Af_Meses_depreciar" })
                                @Html.ValidationMessageFor(q => q.Af_Meses_depreciar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_porcentaje_deprec">Porcentaje de depreciación</label>
                                @Html.TextBoxFor(q => q.Af_porcentaje_deprec, new { @class = "form-control", @id = "Af_porcentaje_deprec" })
                                @Html.ValidationMessageFor(q => q.Af_porcentaje_deprec, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_fecha_ini_depre">Fecha inicio depreciación</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.DevExpress().DateEditFor(q=> q.Af_fecha_ini_depre, settings =>
                                {
                                    settings.Name = "Af_fecha_ini_depre";
                                    settings.Properties.UseMaskBehavior = true;
                                    settings.Properties.EditFormat = EditFormat.Date;
                                    settings.Properties.EditFormatString = "dd/MM/yyyy";
                                    settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                }).GetHtml()
                                    @Html.ValidationMessageFor(q => q.Af_fecha_ini_depre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_fecha_fin_depre">Fecha fin depreciación</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.DevExpress().DateEditFor(q=> q.Af_fecha_fin_depre, settings =>
                                {
                                    settings.Name = "Af_fecha_fin_depre";
                                    settings.Properties.UseMaskBehavior = true;
                                    settings.Properties.EditFormat = EditFormat.Date;
                                    settings.Properties.EditFormatString = "dd/MM/yyyy";
                                    settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                }).GetHtml()
                                    @Html.ValidationMessageFor(q => q.Af_fecha_fin_depre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_costo_compra">Costo de compra</label>
                                @Html.TextBoxFor(q => q.Af_costo_compra, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.Af_costo_compra, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_ValorSalvamento">Valor salvamento</label>
                                @Html.TextBoxFor(q => q.Af_ValorSalvamento, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.Af_ValorSalvamento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_Depreciacion_acum">Depreciación acumulada</label>
                                @Html.TextBoxFor(q => q.Af_Depreciacion_acum, new { @class = "form-control", @id = "Af_Meses_depreciar" })
                                @Html.ValidationMessageFor(q => q.Af_Depreciacion_acum, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_Costo_historico">Costo histórico</label>
                                @Html.TextBoxFor(q => q.Af_Costo_historico, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.Af_Costo_historico, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_ValorResidual">Valor residual</label>
                                @Html.TextBoxFor(q => q.Af_ValorResidual, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.Af_ValorResidual, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_caracteristicas">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="IdCatalogo_Marca">Marca</label>
                                @Html.DropDownListFor(q => q.IdCatalogo_Marca, new SelectList(ViewBag.lst_marca, "IdCatalogo", "Descripcion"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.IdCatalogo_Marca, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="IdCatalogo_Modelo">Modelo</label>
                                @Html.DropDownListFor(q => q.IdCatalogo_Modelo, new SelectList(ViewBag.lst_modelo, "IdCatalogo", "Descripcion"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.IdCatalogo_Modelo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="IdCatalogo_Color">Color</label>
                                @Html.DropDownListFor(q => q.IdCatalogo_Color, new SelectList(ViewBag.lst_color, "IdCatalogo", "Descripcion"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.IdCatalogo_Color, "", new { @class = "text-danger", @id = "pe_cedulaRuc" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="IdTipoCatalogo_Ubicacion">Ubicación</label>
                                @Html.DropDownListFor(q => q.IdTipoCatalogo_Ubicacion, new SelectList(ViewBag.lst_ubicacion, "IdCatalogo", "Descripcion"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.IdTipoCatalogo_Ubicacion, "", new { @class = "text-danger", @id = "pe_cedulaRuc" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_NumPlaca">Número de placa</label>
                                @Html.TextBoxFor(q => q.Af_NumPlaca, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.Af_NumPlaca, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_Anio_fabrica">Año de fabrica</label>
                                @Html.TextBoxFor(q => q.Af_Anio_fabrica, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.Af_Anio_fabrica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_NumSerie_Motor">Serie de motor</label>
                                @Html.TextBoxFor(q => q.Af_NumSerie_Motor, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.Af_NumSerie_Motor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Af_NumSerie_Chasis">Número de chasis</label>
                                @Html.TextBoxFor(q => q.Af_NumSerie_Chasis, new { @class = "form-control" })
                                @Html.ValidationMessageFor(q => q.Af_NumSerie_Chasis, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "ActivoFijo", new { Area ="ActivoFijo" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>
    $(function () {
        //Date picker
        $('#Af_fecha_compra').datepicker({
            autoclose: true
        })
             $('#Af_fecha_ini_depre').datepicker({
            autoclose: true
             })

             $('#Af_fecha_fin_depre').datepicker({
            autoclose: true
        })
    });
    $(function () {
        cargar_categoria();
        get_info_tipo();
        calcular_fechas();

    });

    $("#IdActivoFijoTipo").change(function () {
        cargar_categoria();
        get_info_tipo();
        calcular_fechas();
    });

    function get_info_tipo() {
        var activo = $("#IdActivoFijoTipo").val();

        var datos = {
            IdActivoFijoTipo: activo
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("get_info_tipo", "ActivoFijo",new { Area = "ActivoFijo" })',
            async: false,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $("#Af_Vida_Util").val(data.Af_anio_depreciacion);
                var anio = Number(data.Af_anio_depreciacion);
                var meses = anio * 12;
                $("#Af_Meses_depreciar").val(meses);
                $("#Af_porcentaje_deprec").val(data.Af_Porcentaje_depre);
            },
            error: function (error) {
            }
        });
    }

    function cargar_categoria() {
        $("#IdCategoriaAF").empty();

        var activo = $("#IdActivoFijoTipo").val();

        var datos = {
            IdActivoFijoTipo: activo
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("cargar_categoria", "ActivoFijo", new { Area = "ActivoFijo" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.each(data, function (i, row) {
                    $("#IdCategoriaAF").append("<option value=" + row.IdCategoriaAF + ">" + row.Descripcion + "</option>");
                });
            },
            error: function (error) {
            }
        });
    };
    function calcular_fechas() {
        var fecha_inicio = Af_fecha_compra.GetValue();
        Af_fecha_ini_depre.SetValue(fecha_inicio);
        var Af_Meses_depreciar = $("#Af_Meses_depreciar").val();
        var date = new Date(moment(Af_fecha_ini_depre.GetValue(), "DD/MM/YYYY").add(Af_Meses_depreciar, 'month'));

        Af_fecha_fin_depre.SetValue(date);

    };
</script>

