@model Core.Erp.Info.Inventario.in_transferencia_Info
@{
    ViewBag.Title = "Auditoria de inventario";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    <div class="box-body">
        <div id="Tabs" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#tab_correccion_trans" aria-controls="Correccion" role="tab" data-toggle="tab">Corrección de transferencia</a>
                </li>
                <li>
                    <a href="#tab_mov_x_contabilizar" aria-controls="Movimientos" role="tab" data-toggle="tab">Movimientos por contabilizar</a>
                </li>
                <li hidden>
                    <a href="#tab_recosteo_x_sucursal" aria-controls="Recosteo" role="tab" data-toggle="tab">Recosteo por sucursal</a>
                </li>
            </ul>
            <div class="tab-content" style="padding-top: 20px">
                <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_correccion_trans">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="">Fecha inicio*</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.DevExpress().DateEditFor(q => q.fecha_correccion_transferencia, settings =>
                                        {
                                            settings.Name = "fecha_correccion_transferencia";
                                            settings.Properties.UseMaskBehavior = true;
                                            settings.Properties.EditFormat = EditFormat.Date;
                                            settings.Properties.EditFormatString = "dd/MM/yyyy";
                                            settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        }).GetHtml()
                                        @Html.ValidationMessageFor(q => q.fecha_correccion_transferencia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for=""></label>
                                    <div class="input-group">
                                        <button type="button" title="Buscar transferencia"  class="btn btn-primary" id="btn_buscar_transferencia" onclick="BuscarTransferencia();">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        &nbsp;&nbsp;
                                        <button type="button" title="Corregir transferencia" class="btn btn-primary" id="btn_corregir_transferencia" onclick="CorregirTransferencia();">
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Action("GridViewPartial_CorreccionTransferencias", new { fecha_ini = Model.fecha_correccion_transferencia })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_mov_x_contabilizar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_recosteo_x_sucursal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="IdSucursal">Sucursal*</label>
                                        @Html.DropDownListFor(q => q.IdSucursal, new SelectList(ViewBag.lst_sucursal, "IdSucursal", "Su_Descripcion"), new { @class = "form-control", @id = "IdSucursal" })
                                        @Html.ValidationMessageFor(q => q.IdSucursal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="IdBodega">Bodega</label>
                                        @Html.DropDownListFor(q => q.IdBodega, new SelectList(ViewBag.lst_bodega, "IdBodega", "bo_Descripcion"), new { @class = "form-control", @id = "IdBodega" })
                                        @Html.ValidationMessageFor(q => q.IdBodega, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Fecha inicio*</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.DevExpress().DateEditFor(q => q.fecha_recosteo_sucursal, settings =>
                                        {
                                            settings.Name = "fecha_recosteo_sucursal";
                                            settings.Properties.UseMaskBehavior = true;
                                            settings.Properties.EditFormat = EditFormat.Date;
                                            settings.Properties.EditFormatString = "dd/MM/yyyy";
                                            settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        }).GetHtml()
                                            @Html.ValidationMessageFor(q => q.fecha_recosteo_sucursal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <div class="input-group">
                                            <button type="button" title="Recostear por sucursal" class="btn btn-primary" id="btn_recosteo_x_sucursal" onclick="Recosteo_x_Sucursal();">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Action("GridViewPartial_Recosteo_x_Sucursal", new { IdSucursal = Model.IdSucursal, IdBodega = Model.IdBodega, fecha_ini = Model.fecha_recosteo_sucursal })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>            
    </div>
}

<script type="text/javascript">
    $(function () {
        CargarBodega();
        $("#IdSucursal").change(function () {
            CargarBodega();
        });
    });

    function BuscarTransferencia() {
        var datos = {            
            fecha_ini: fecha_correccion_transferencia.GetValue(),
            IdEmpresa: $("#IdEmpresa").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("BuscarTransferencia", "AuditoriaInventario", new { Area = "Inventario" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_CorreccionTransferencias.PerformCallback();
            },
            error: function (error) {
            }
        });
    }

    function CorregirTransferencia() {
        var datos = {
            fecha_ini: fecha_correccion_transferencia.GetValue(),
            IdEmpresa: $("#IdEmpresa").val()
            }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CorregirTransferencia", "AuditoriaInventario", new { Area = "Inventario" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    alert(data);
                }

                GridViewPartial_CorreccionTransferencias.PerformCallback();
            },
            error: function (error) {
            }
        });
    }

    function CargarBodega() {
        $("#IdBodega").empty();

        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdSucursal: $("#IdSucursal").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CargarBodega", "AuditoriaInventario", new { Area = "Inventario" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.each(data, function (i, row) {
                    $("#IdBodega").append("<option value=" + row.IdBodega + ">" + row.bo_Descripcion + "</option>");
                });
            },
            error: function (error) {
            }
        });
    };

    function Recosteo_x_Sucursal() {
        var datos = {
            fecha_ini: fecha_recosteo_sucursal.GetValue(),
            IdEmpresa: $("#IdEmpresa").val(),
            IdSucursal: $("#IdSucursal").val(),
            IdBodega: $("#IdBodega").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("Recosteo_x_Sucursal", "AuditoriaInventario", new { Area = "Inventario" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_Recosteo_x_Sucursal.PerformCallback();
            },
            error: function (error) {
            }
        });
    }
</script>