@model Core.Erp.Info.Inventario.in_transferencia_Info
@{
    ViewBag.Title = "Auditoria de inventario";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    <div class="box-body">
        <div id="Tabs" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#tab_correccion_trans" aria-controls="general" role="tab" data-toggle="tab" id="link_general">Corrección de transferencia</a>
                </li>
                <li>
                    <a href="#tab_mov_x_contabilizar" aria-controls="Precios" role="tab" data-toggle="tab" id="link_precios">Movimientos por contabilizar</a>
                </li>
                <li hidden>
                    <a href="#tab_recosteo_x_prod" aria-controls="Composicion" role="tab" data-toggle="tab" id="link_composicion">Recosteo de productos</a>
                </li>
            </ul>
            <div class="tab-content" style="padding-top: 20px">
                <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_correccion_trans">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="">Fecha inicio*</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.DevExpress().DateEditFor(q => q.fecha_correccion_transferencia, settings =>
                                        {
                                            settings.Name = "fecha_correccion_transferencia";
                                            settings.Properties.UseMaskBehavior = true;
                                            settings.Properties.EditFormat = EditFormat.Date;
                                            settings.Properties.EditFormatString = "dd/MM/yyyy";
                                            settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        }).GetHtml()
                                        @Html.ValidationMessageFor(q => q.fecha_correccion_transferencia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="btn_buscar_transferencia" onclick="BuscarTransferencia();">Buscar transferencia</button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">                                        
                                    <button type="button" class="btn btn-primary" id="btn_corregir_transferencia" onclick="CorregirTransferencia();">Corregir transferencia</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Action("GridViewPartial_RecosteoInventario", new { fecha_ini = Model.fecha_correccion_transferencia })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_mov_x_contabilizar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_recosteo_x_prod">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        [@Session["IdEmpresa"]] @Session["nom_empresa"]
    </div>
    <!-- /.box-footer-->
}

<script type="text/javascript">
    function BuscarTransferencia() {
        var datos = {            
            fecha_ini: fecha_correccion_transferencia.GetValue(),
            IdEmpresa: $("#IdEmpresa").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("BuscarTransferencia", "AuditoriaInventario", new { Area = "Inventario" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(data);
                GridViewPartial_RecosteoInventario.PerformCallback();
                
            },
            error: function (error) {
            }
        });
    }

    function CorregirTransferencia() {
        var datos = {
            fecha_ini: fecha_correccion_transferencia.GetValue(),
            IdEmpresa: $("#IdEmpresa").val()
            }
        $("#btn_corregir_transferencia").attr("disabled", true);
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CorregirTransferencia", "AuditoriaInventario", new { Area = "Inventario" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    alert(data);
                }
            },
            error: function (error) {
            }
        });
    }
</script>