@model Core.Erp.Info.Importacion.imp_catalogo_Info
@{
    ViewBag.Title = "Nuevo catálogo ";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Nuevo", "CatalogoImportacion", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdCatalogo)
    @Html.HiddenFor(q => q.IdCatalogo_tipo)


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdCatalogo_tipo">Tipo catálogo*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdCatalogo_tipo, settings =>
               {
                   settings.Name = "IdCatalogo_tipo";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("IdCatalogo_tipo", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("ct_descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                   //Campo ID
                   settings.Properties.ValueField = "IdCatalogo_tipo";
                   settings.Properties.ValueType = typeof(int);
                   settings.Properties.TextField = "ct_descripcion";
                   settings.Properties.NullText = "== Seleccione ==";

                   settings.Properties.DropDownButton.Enabled = false;
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   settings.ReadOnly = true;
               }).BindList(ViewBag.lst_tipo).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdCatalogo_tipo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ca_descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.ca_descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ca_descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","CatalogoImportacion", new { IdCatalogo_tipo = ViewBag.IdCatalogo_tipo , Area = "Importacion" },null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
