@model Core.Erp.Info.RRHH.ro_empleado_Info
@{
    ViewBag.Title = "Anular empleado";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Anular", "Empleado", FormMethod.Post, new { @class = "form", @role = "form" }))
{


    <div class="row">
        <div class="col-md-12">
            @*<div class="col-md-2" height = "100"  width = "100"  style = "border:solid">
                    <label for="foto">Foto*</label>
                    <div class="form-group">
                        @Html.EditorFor(q => q.em_foto,  new { @class = "form-control" })
                    </div>
                </div>*@

            <div class="col-md-3">
                <div class="form-group">
                    <label for="em_status">Estado*</label>
                    @Html.DropDownListFor(q => q.em_status, new SelectList(ViewBag.lst_estado_empleado, "CodCatalogo", "ca_descripcion"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.em_status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="info_persona.IdTipoDocumento">Tipo documento*</label>
                    @Html.DropDownListFor(q => q.info_persona.IdTipoDocumento, new SelectList(ViewBag.lst_tipo_docu, "CodCatalogo", "ca_descripcion"), new { @class = "form-control", @id = "IdTipoDocumento" })
                    @Html.ValidationMessageFor(q => q.info_persona.IdTipoDocumento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="em_codigo">Código</label>
                    @Html.TextBoxFor(q => q.em_codigo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.em_codigo, "", new { @class = "text-danger", @id = "em_codigo" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="info_persona.pe_cedulaRuc">Número documento*</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_cedulaRuc, new { @class = "form-control", @id = "pe_cedulaRuc" })
                    @Html.ValidationMessageFor(q => q.pe_cedulaRuc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="info_persona.pe_apellido">Apellidos*</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_apellido, new { @class = "form-control", @id = "pe_apellido" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="info_persona.pe_nombre">Nombres*</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_nombre, new { @class = "form-control", @id = "pe_nombre" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_nombre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tb_general" aria-controls="informacion" role="tab" data-toggle="tab">Datos personales</a>
            </li>
            <li>
                <a href="#tb_info_laboral" aria-controls="AdministracionPreBajas" role="tab" data-toggle="tab">Información laboral</a>
            </li>
            <li>
                <a href="#tb_info_nomina" aria-controls="AdministracionPreBajas" role="tab" data-toggle="tab">Información de la nómina</a>
            </li>
            <li>
                <a href="#tb_info_adicional" aria-controls="AdministracionPreBajas" role="tab" data-toggle="tab">Información adicional</a>
            </li>
            <li>
                <a href="#tb_info_foto" aria-controls="AdministracionPreBajas" role="tab" data-toggle="tab">Foto del empleado</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding-top: 20px">

            <div role="tabpanel" class="tab-pane active" style="margin-left: 2em;" id="tb_general">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="IdCiudad">Ciudad residencia*</label>
                            @Html.DevExpress().ComboBoxFor(q => q.IdCiudad, settings =>
                               {
                                   settings.Name = "IdCiudad";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("Cod_Ciudad", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("Descripcion_Ciudad", "Ciudad").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdCiudad";
                                   settings.Properties.ValueType = typeof(string);
                                   settings.Properties.TextField = "Descripcion_Ciudad";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_ciudad).GetHtml()
                            @Html.ValidationMessageFor(q => q.IdCiudad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="info_persona.pe_direccion">Dirección*</label>
                            @Html.TextBoxFor(q => q.info_persona.pe_direccion, new { @class = "form-control", @rows = "2" })
                            @Html.ValidationMessageFor(q => q.info_persona.pe_direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="info_persona.pe_correo">Correo*</label>
                            @Html.TextBoxFor(q => q.info_persona.pe_correo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.info_persona.pe_correo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info_persona.pe_sexo">Sexo*</label>
                            @Html.DropDownListFor(q => q.info_persona.pe_sexo, new SelectList(ViewBag.lst_sexo, "CodCatalogo", "ca_descripcion"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.info_persona.pe_sexo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info_persona.IdEstadoCivil">Estado civil*</label>
                            @Html.DropDownListFor(q => q.info_persona.IdEstadoCivil, new SelectList(ViewBag.lst_estado_civil, "CodCatalogo", "ca_descripcion"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.info_persona.IdEstadoCivil, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info_persona.pe_fechaNacimiento">Fecha de nacimiento*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.DevExpress().DateEditFor(q => q.info_persona.pe_fechaNacimiento, settings =>
                           {
                               settings.Name = "pe_fechaNacimiento";
                               settings.Properties.UseMaskBehavior = true;
                               settings.Properties.EditFormat = EditFormat.Date;
                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           }).GetHtml()
                                @Html.ValidationMessageFor(q => q.info_persona.pe_fechaNacimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info_persona.pe_telfono_Contacto">Teléfono contacto*</label>
                            @Html.TextBoxFor(q => q.info_persona.pe_telfono_Contacto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.info_persona.pe_telfono_Contacto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info_persona.pe_celular">Celular*</label>
                            @Html.TextBoxFor(q => q.info_persona.pe_celular, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.info_persona.pe_celular, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="em_lugarNacimiento">Lugar nacimiento*</label>
                            @Html.TextBoxFor(q => q.em_lugarNacimiento, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.em_lugarNacimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="GetHtml">Banco acreditación</label>
                            @Html.DevExpress().ComboBoxFor(q => q.IdBanco, settings =>
                               {
                                   settings.Name = "IdBanco";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("CodigoLegal", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("ba_descripcion", "Banco").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdBanco";
                                   settings.Properties.ValueType = typeof(string);
                                   settings.Properties.TextField = "ba_descripcion";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_banco).GetHtml()
                            @Html.ValidationMessageFor(q => q.IdBanco, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="em_tipoCta">Tipo cuenta</label>
                            @Html.DropDownListFor(q => q.em_tipoCta, new SelectList(ViewBag.lst_tipo_cuenta, "CodCatalogo", "ca_descripcion"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.em_tipoCta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="em_NumCta">Cuenta número</label>
                            @Html.TextBoxFor(q => q.em_NumCta, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.em_NumCta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


            </div>

            <div role="tabpanel" class="tab-pane" id="tb_info_laboral">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="IdDivision">División*</label>
                                @Html.DevExpress().ComboBoxFor(q => q.IdDivision, settings =>
                               {
                                   settings.Name = "IdDivision";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("IdDivision", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("Descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdDivision";
                                   settings.Properties.ValueType = typeof(int);
                                   settings.Properties.TextField = "Descripcion";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_division).GetHtml()
                                @Html.ValidationMessageFor(q => q.IdDivision, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="IdArea">Área*</label>
                                @Html.DevExpress().ComboBoxFor(q => q.IdArea, settings =>
                               {
                                   settings.Name = "IdArea";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("IdArea", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("Descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdArea";
                                   settings.Properties.ValueType = typeof(int);
                                   settings.Properties.TextField = "Descripcion";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_area).GetHtml()
                                @Html.ValidationMessageFor(q => q.IdArea, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="IdDepartamento">Departamento*</label>
                                @Html.DevExpress().ComboBoxFor(q => q.IdDepartamento, settings =>
                               {
                                   settings.Name = "IdDepartamento";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("IdDepartamento", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("de_descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdDepartamento";
                                   settings.Properties.ValueType = typeof(int);
                                   settings.Properties.TextField = "de_descripcion";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_departamento).GetHtml()
                                @Html.ValidationMessageFor(q => q.IdDepartamento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="IdCargo">Cargo*</label>
                                @Html.DevExpress().ComboBoxFor(q => q.IdCargo, settings =>
                               {
                                   settings.Name = "IdCargo";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("IdCargo", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("ca_descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdCargo";
                                   settings.Properties.ValueType = typeof(int);
                                   settings.Properties.TextField = "ca_descripcion";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_cargo).GetHtml()
                                @Html.ValidationMessageFor(q => q.IdCargo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="IdPuntoCargo">Punto cargo</label>
                                @Html.DevExpress().ComboBoxFor(q => q.IdPuntoCargo, settings =>
                               {
                                   settings.Name = "IdPunto_cargo";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("codPunto_cargo", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("nom_punto_cargo", "nom_punto_cargo").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdPunto_cargo";
                                   settings.Properties.ValueType = typeof(decimal);
                                   settings.Properties.TextField = "nom_punto_cargo";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_punto_cargo).GetHtml()
                                @Html.ValidationMessageFor(q => q.IdPuntoCargo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="IdEmpleado_Supervisor">Jefe inmediato</label>
                                @Html.DevExpress().ComboBoxFor(q => q.IdEmpleado_Supervisor, settings =>
                               {
                                   settings.Name = "IdEmpleado_Supervisor";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("pe_cedulaRuc", "Cédula").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("Empleado", "Nombres").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdEmpleado";
                                   settings.Properties.ValueType = typeof(decimal);
                                   settings.Properties.TextField = "Empleado";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_empleado).GetHtml()
                                @Html.ValidationMessageFor(q => q.IdEmpleado_Supervisor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div role="tabpanel" class="tab-pane" id="tb_info_nomina">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="IdTipoEmpleado">Tipo empleado</label>
                            @Html.DropDownListFor(q => q.IdTipoEmpleado, new SelectList(ViewBag.lst_tipo_empleado, "CodCatalogo", "ca_descripcion"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.IdTipoEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="em_fechaIngaRol">Fecha ingreso</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.DevExpress().DateEditFor(q => q.em_fechaIngaRol, settings =>
                           {
                               settings.Name = "em_fechaIngaRol";
                               settings.Properties.UseMaskBehavior = true;
                               settings.Properties.EditFormat = EditFormat.Date;
                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           }).GetHtml()
                                @Html.ValidationMessageFor(q => q.em_fechaIngaRol, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="em_fechaSalida">Fecha Salida</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.DevExpress().DateEditFor(q => q.em_fechaSalida, settings =>
                           {
                               settings.Name = "em_fechaSalida";
                               settings.Properties.UseMaskBehavior = true;
                               settings.Properties.EditFormat = EditFormat.Date;
                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           }).GetHtml()
                                @Html.ValidationMessageFor(q => q.em_fechaSalida, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CodigoSectorial">Código sectorial</label>
                            @Html.TextBoxFor(q => q.CodigoSectorial, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.CodigoSectorial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                       <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="IdHorario">Horario</label>
                            @Html.DevExpress().ComboBoxFor(q => q.IdHorario, settings =>
                               {


                                   settings.Name = "IdHorario";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                                   settings.Properties.Columns.Add("HoraIni", "Hora ingreso").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("HoraFin", "Hora salidad").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "IdHorario";
                                   settings.Properties.ValueType = typeof(int);
                                   settings.Properties.TextField = "HoraIni";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_horario).GetHtml()
                            @Html.ValidationMessageFor(q => q.IdHorario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
       
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Marca_Biometrico"></label>
                            @Html.DevExpress().CheckBoxFor(q => q.Marca_Biometrico, settings =>
                            {
                                settings.Name = "Marca_Biometrico";
                                settings.Text = "Marca biometrico";

                            }).GetHtml()
                            @Html.ValidationMessageFor(q => q.Marca_Biometrico, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="es_AcreditaHorasExtras">Goza horas extras</label>
                            @Html.DevExpress().CheckBoxFor(q => q.es_AcreditaHorasExtras, settings =>
                           {
                               settings.Name = "es_AcreditaHorasExtras";
                               settings.Text = "Goza horas extras";

                           }).GetHtml()
                            @Html.ValidationMessageFor(q => q.es_AcreditaHorasExtras, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>



            </div>

            <div role="tabpanel" class="tab-pane" id="tb_info_adicional">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="IdCondicionDiscapacidadSRI">Condición de empleado conrespecto a discapacidad</label>
                            @Html.DevExpress().ComboBoxFor(q => q.IdCondicionDiscapacidadSRI, settings =>
                               {
                                   settings.Name = "IdCondicionDiscapacidadSRI";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {2}";
                                   settings.Properties.Columns.Add("CodCatalogo", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("ca_descripcion", "Desripción").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "CodCatalogo";
                                   settings.Properties.ValueType = typeof(string);
                                   settings.Properties.TextField = "ca_descripcion";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_tipo_discapacidad).GetHtml()
                            @Html.ValidationMessageFor(q => q.IdCondicionDiscapacidadSRI, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="por_discapacidad">Porcentaje discapacidad</label>
                            @Html.TextBoxFor(q => q.por_discapacidad, new { @class = "form-control", @id = "pe_apellido" })
                            @Html.ValidationMessageFor(q => q.por_discapacidad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="carnet_conadis">Número conadis</label>
                            @Html.TextBoxFor(q => q.carnet_conadis, new { @class = "form-control", @id = "pe_apellido" })
                            @Html.ValidationMessageFor(q => q.carnet_conadis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="IdCiudad">Tipo documento persona sustituida</label>
                            @Html.DevExpress().ComboBoxFor(q => q.IdTipoIdentDiscapacitadoSustitutoSRI, settings =>
                               {
                                   settings.Name = "IdTipoIdentDiscapacitadoSustitutoSRI";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.DisplayFormatString = "[{0}] - {2}";
                                   settings.Properties.Columns.Add("CodCatalogo", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                                   settings.Properties.Columns.Add("ca_descripcion", "Desripción").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                                   //Campo ID
                                   settings.Properties.ValueField = "CodCatalogo";
                                   settings.Properties.ValueType = typeof(string);
                                   settings.Properties.TextField = "ca_descripcion";
                                   //Boton para seleccionar ningun registro
                                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                                   settings.Properties.NullText = "== Seleccione ==";
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                               }).BindList(ViewBag.lst_tipo_doc_sustutuido).GetHtml()
                            @Html.ValidationMessageFor(q => q.IdTipoIdentDiscapacitadoSustitutoSRI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="IdTipoIdentDiscapacitadoSustitutoSRI">Número identificación</label>
                            @Html.TextBoxFor(q => q.IdentDiscapacitadoSustitutoSRI, new { @class = "form-control", @id = "pe_apellido" })
                            @Html.ValidationMessageFor(q => q.IdentDiscapacitadoSustitutoSRI, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="IdTipoSangre">Tipo sangre</label>
                            @Html.DropDownListFor(q => q.IdTipoSangre, new SelectList(ViewBag.lst_tipo_sangre, "CodCatalogo", "ca_descripcion"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.IdTipoSangre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="IdTipoLicencia">Tipo licencia</label>
                            @Html.DropDownListFor(q => q.IdTipoLicencia, new SelectList(ViewBag.lst_tipo_licencia, "CodCatalogo", "ca_descripcion"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.IdTipoLicencia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="em_cedulaMil">Número libreta militar</label>
                            @Html.TextBoxFor(q => q.em_cedulaMil, new { @class = "form-control", @id = "pe_apellido" })
                            @Html.ValidationMessageFor(q => q.em_cedulaMil, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="talla_pant">Talla pantalón</label>
                            @Html.TextBoxFor(q => q.talla_pant, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.talla_pant, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="talla_camisa">Tala camisa</label>
                            @Html.TextBoxFor(q => q.talla_camisa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(q => q.talla_camisa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="talla_zapato">Talla zapato</label>
                            @Html.TextBoxFor(q => q.talla_zapato, new { @class = "form-control", @id = "pe_apellido" })
                            @Html.ValidationMessageFor(q => q.talla_zapato, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="tb_info_foto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">


                            @Html.DevExpress().BinaryImage(
                            settings =>
                            {
                                settings.Name = "em_foto";
                                settings.CallbackRouteValues = new { Controller = "Empleado", Action = "get_imagen" };
                            }).Bind((Model.em_foto).ToArray()).GetHtml()


                            @Html.DevExpress().UploadControl(settings =>
                       {

                           settings.Name = "UploadControl";
                           settings.CallbackRouteValues = new { Controller = "Empleado", Action = "UploadControlUpload" };
                           settings.ShowUploadButton = true;
                           settings.ShowProgressPanel = true;
                       }).GetHtml()

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index", "Empleado", new { Area ="RRHH" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

}

<script>


    $("#pe_cedulaRuc").keyup(function () {
        validar();
    });
    function  validar() {
        var tipo_doc = $("#IdTipoDocumento").val();
        var cedula = $("#pe_cedulaRuc").val();

        if (tipo_doc == "RUC") {
            if (cedula.length > 13) {
                var len = $("#pe_cedulaRuc").val();
                len = len.substring(0, 13);
                $("#pe_cedulaRuc").val(len);
            }

        }
        else
            if (tipo_doc == "CED") {
                if (cedula.length > 10) {
                    var len = $("#pe_cedulaRuc").val();
                    len = len.substring(0,10);
                    $("#pe_cedulaRuc").val(len);
                }
            }
    }


</script>