@model Core.Erp.Info.RRHH.ro_empleado_Info
@{
    ViewBag.Title = "Cuenta contable";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Index", "EmpleadoCuentaContable", FormMethod.Post, new { @class = "form", @role = "form" }))

{
    @Html.HiddenFor(w => w.IdEmpresa)
    @Html.HiddenFor(w => w.IdEmpleado)
    @Html.HiddenFor(w => w.IdTransaccionSession)

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdProveedor">Empleado*</label>
                    @Html.Partial("_CmbEmpleado_CtaCon", Model.IdEmpleado)
                    @Html.ValidationMessageFor(q => q.IdEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for=""></label>
                        @Html.Action("GridViewPartial_Emp_CtaCont")
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-default" href="@Url.Action("Index","Empleado",new {Area = "RRHH" },null)">Volver</a>
         </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
}


