@model Core.Erp.Info.CuentasPorCobrar.cxc_Catalogo_Info
@{
    ViewBag.Title = "Nuevo catálogo";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Nuevo", "CatalogoCXC", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdCatalogo_tipo">Tipo catálogo*</label>
                    @Html.HiddenFor(q => q.IdCatalogo_tipo)
                    @Html.DevExpress().ComboBoxFor(q => q.IdCatalogo_tipo, settings =>
               {
                   settings.Name = "IdCatalogo_tipo";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("IdCatalogo_tipo", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("Descripcion", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                   //Campo ID
                   settings.Properties.ValueField = "IdCatalogo_tipo";
                   settings.Properties.ValueType = typeof(string);
                   settings.Properties.TextField = "Descripcion";
                   settings.Properties.NullText = "== Seleccione ==";

                   settings.Properties.DropDownButton.Enabled = false;
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   settings.ReadOnly = true;
               }).BindList(ViewBag.lst_tipos).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdCatalogo_tipo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ICatalogo">Código*</label>
                    @Html.TextBoxFor(q => q.IdCatalogo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdCatalogo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Orden">Orden</label>
                    @Html.DropDownListFor(q => q.Orden, new SelectList(ViewBag.lst_orden, "Key", "Value"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Orden, "", new { @class = "form", @role = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Nombre">Descripción*</label>
                    @Html.TextBoxFor(q => q.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","CatalogoCXC", new { IdCatalogo_tipo = Model.IdCatalogo_tipo, Area = "CuentasPorCobrar"  },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}