@model Core.Erp.Info.General.tb_banco_procesos_bancarios_x_empresa_Info
@{
    ViewBag.Title = "Nuevo proceso de archivo de tansferencias";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Nuevo", "ProcesosBancariosPorEmpresa", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdProceso)

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdBanco_Financiero">Banco*</label>
                    @Html.DropDownListFor(q => q.IdBanco, new SelectList(ViewBag.lst_banco, "IdBanco", "ba_descripcion"), new { @class = "form-control", @id = "IdBanco_Financiero" })
                    @Html.ValidationMessageFor(q => q.IdBanco, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="TipoPermiso">Proceso*</label>
                    @Html.DropDownListFor(q => q.IdProceso_bancario_tipo, new SelectList(ViewBag.list_tipo_permiso), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdProceso_bancario_tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="ba_descripcion">Codigo otorgado por el banco*</label>
                    @Html.TextBoxFor(q => q.Codigo_Empresa, new { @class = "form-control", @id = "ba_descripcion" })
                    @Html.ValidationMessageFor(q => q.Codigo_Empresa, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
           
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ba_descripcion">Nombre del proceso*</label>
                    @Html.TextBoxFor(q => q.NombreProceso, new { @class = "form-control", @id = "ba_descripcion" })
                    @Html.ValidationMessageFor(q => q.NombreProceso, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>


    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","ProcesosBancariosPorEmpresa", new { Area = "General"  },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
