
@model Core.Erp.Info.RRHH.ro_Historico_Liquidacion_Vacaciones_Info
@{
    ViewBag.Title = "Liquidar solicitud";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Anular", "LiquidacionVacaciones", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdSolicitud);
    @Html.HiddenFor(q => q.IdEmpleado);
    @Html.HiddenFor(q => q.IdLiquidacion);

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Empleado">Empleado*</label>
                    @Html.Partial("_CmbEmpleado_vaca", Model.IdEmpleado)
                    @Html.ValidationMessageFor(q => q.IdEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="Fecha_Desde">Fecha desde*</label>
                    @Html.TextBoxFor(q => q.Fecha_Desde, new { @class = "form-control", @id = "FechaInicio", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.Fecha_Desde, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Fecha_Hasta">Fecha hasta*</label>
                    @Html.TextBoxFor(q => q.Fecha_Hasta, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "FechaFin", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.Fecha_Hasta, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Fecha_Retorno">Fecha retorno*</label>
                    @Html.TextBoxFor(q => q.Fecha_Retorno, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "FechaRetorno", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.Fecha_Retorno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="form-group">
                        <label for="Gozadas_Pgadas"></label>
                        @Html.DevExpress().CheckBoxFor(q => q.Gozadas_Pgadas, settings =>
                   {
                       settings.Name = "Gozadas_Pgadas";
                       settings.Text = "Vacaciones gozadas";
                       settings.Enabled = false;
                   }).GetHtml()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="Dias_q_Corresponde">Días corresponde</label>
                    @Html.TextBoxFor(q => q.Dias_q_Corresponde, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.Dias_q_Corresponde, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Dias_a_disfrutar">Días tomados*</label>
                    @Html.TextBoxFor(q => q.Dias_a_disfrutar, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.Dias_a_disfrutar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Fecha_Retorno">Días pendientes*</label>
                    @Html.TextBoxFor(q => q.Dias_pendiente, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.Dias_pendiente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Observaciones">Observación*</label>
                    @Html.TextBoxFor(q => q.Observaciones, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Observaciones, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Observaciones">Detalle de vacaciones</label>
                    @Html.Action("GridViewPartial_vacaciones_liquidadas_det")
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index","LiquidacionVacaciones",new { Area = "RRHH" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>
        $(function () {

            //Date picker
            $('#FechaInicio').datepicker({
                autoclose: true
            })

            $('#FechaFin').datepicker({
                autoclose: true
            })
            $('#FechaRetorno').datepicker({
                autoclose: true
            })
        })
</script>

