@model Core.Erp.Info.RRHH.ro_rubro_tipo_Info

@{
    ViewBag.Title = "Modificar rubro";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Modificar", "Rubro", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdRubro)
    @Html.HiddenFor(q => q.IdEmpresa)

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="rub_codigo">Código*</label>
                    @Html.TextBoxFor(q => q.rub_codigo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.rub_codigo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="ru_codRolGen">Código reporte*</label>
                    @Html.TextBoxFor(q => q.ru_codRolGen, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.ru_codRolGen, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ru_orden">Orden*</label>
                    @Html.TextBoxFor(q => q.ru_orden, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.ru_orden, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="rub_grupo">Grupo*</label>
                    @Html.DropDownListFor(q => q.rub_grupo, new SelectList(ViewBag.lst_grupo, "IdCatalogo", "ca_descripcion"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.rub_grupo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="rub_tipcal">Tipo campo*</label>
                    @Html.DropDownListFor(q => q.rub_tipcal, new SelectList(ViewBag.lst_tipo_campo, "IdCatalogo", "ca_descripcion"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.rub_tipcal, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ru_tipo">Tipo rubro*</label>
                    @Html.DropDownListFor(q => q.ru_tipo, new SelectList(ViewBag.lst_tipo_rubro, "CodCatalogo", "ca_descripcion"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.ru_tipo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ru_descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.ru_descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.ru_descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="NombreCorto">Descripción corta</label>
                    @Html.TextBoxFor(q => q.NombreCorto, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.NombreCorto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdCtaCblePadre">Cuenta contable</label>
                    @Html.DevExpress().ComboBoxFor(q => q.rub_ctacon, settings =>
               {
                   settings.Name = "rub_ctacon";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {1}";
                   settings.Properties.Columns.Add("IdCtaCble", "Código").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("pc_Cuenta", "Cuenta").Width = System.Web.UI.WebControls.Unit.Percentage(50);
                   settings.Properties.Columns.Add("pc_Cuenta_padre", "Cuenta padre").Width = System.Web.UI.WebControls.Unit.Percentage(40);
                   //Campo ID
                   settings.Properties.ValueField = "IdCtaCble";
                   settings.Properties.ValueType = typeof(string);
                   settings.Properties.TextField = "pc_Cuenta";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

               }).BindList(ViewBag.lst_plancuenta).GetHtml()
                    @Html.ValidationMessageFor(q => q.rub_ctacon, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="rub_nocontab"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.rub_nocontab, settings =>
                       {
                           settings.Name = "rub_nocontab";
                           settings.Text = "Se contabiliza";

                       }).GetHtml()
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="rub_concep"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.rub_concep, settings =>
                       {
                           settings.Name = "rub_concep";
                           settings.Text = "Es un concepto";

                       }).GetHtml()
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="rub_guarda_rol"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.rub_guarda_rol, settings =>
                       {
                           settings.Name = "rub_guarda_rol";
                           settings.Text = "Se guarda en rol";

                       }).GetHtml()
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="rub_aplica_IESS"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.rub_aplica_IESS, settings =>
                       {
                           settings.Name = "rub_aplica_IESS";
                           settings.Text = "Aplica IESS";

                       }).GetHtml()
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="rub_acumula_descuento"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.rub_acumula_descuento, settings =>
                       {
                           settings.Name = "rub_acumula_descuento";
                           settings.Text = "Acumula valor para descuento";

                       }).GetHtml()
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="rub_provision"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.rub_provision, settings =>
                       {
                           settings.Name = "rub_provision";
                           settings.Text = "Se provisiona";

                       }).GetHtml()
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","Rubro",new { Area = "RRHH" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


