@model Core.Erp.Info.RRHH.ro_empleado_x_titulos_Info

@{
    ViewBag.Title = "Modificar título";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Modificar", "EmpleadoTitulo", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpleado)
    @Html.HiddenFor(q => q.Secuencia)



    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdCtaCblePadre">Empleado*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdEmpleado, settings =>
               {
                   settings.Name = "IdEmpleado";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "[{0}] - {2}";
                   settings.Properties.Columns.Add("IdEmpleado", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("pe_cedulaRuc", "Cédula").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.Columns.Add("Empleado", "Nombres").Width = System.Web.UI.WebControls.Unit.Percentage(80);

                   //Campo ID
                   settings.Properties.ValueField = "IdEmpleado";
                   settings.Properties.ValueType = typeof(decimal);
                   settings.Properties.TextField = "Empleado";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

               }).BindList(ViewBag.lst_empleado).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdContrato_Tipo">Institución*</label>
                    @Html.DropDownListFor(q => q.IdInstitucion, new SelectList(ViewBag.lst_institucion, "CodCatalogo", "ca_descripcion"), "== Seleccione ==", new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdInstitucion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdContrato_Tipo">Título*</label>
                    @Html.DropDownListFor(q => q.IdTitulo, new SelectList(ViewBag.lst_titulo, "CodCatalogo", "ca_descripcion"), "== Seleccione ==", new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdTitulo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Observacion">Observación*</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FechaFin">Fecha fin*</label>
                    @Html.TextBoxFor(q => q.fecha, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "fecha" })
                    @Html.ValidationMessageFor(q => q.fecha, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","EmpleadoTitulo",new { Area = "RRHH" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>
    $(function () {

        //Date picker
        $('#fecha').datepicker({
            autoclose: true
        })


    })
</script>