@model Core.Erp.Info.RRHH.ro_rol_Info
@{
    ViewBag.Title = "Modificar";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "PagoBenediciosSociales", FormMethod.Post, new { @class = "form", @role = "form" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Anio">Año*</label>
                    @Html.TextBoxFor(q => q.Anio, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Anio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="form-group">
                        <label for="descuento_mensual">Pago</label>
                        @Html.DevExpress().RadioButtonFor(q => q.decimoIII, settings =>
                       {
                           settings.Name = "decimoIII";
                           settings.GroupName = "beneficio";
                           settings.Text = "Decimo tercer sueldo";
                           settings.Properties.ClientSideEvents.CheckedChanged = "function(s, e) {mostar()}";
                       }).GetHtml()
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="form-group">
                        <label for="descuento_quincena">Pago</label>
                        @Html.DevExpress().RadioButtonFor(q => q.decimoIV, settings =>
                   {
                       settings.Name = "decimoIV";
                       settings.GroupName = "beneficio";
                       settings.Text = "Decimo cuarto sueldo";
                   }).GetHtml()
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ca_descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Observacion, "", new { @class = "text-danger" })


                </div>
            </div>
        </div>
    </div>



    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Procesar</button>
        <a class="btn btn-default" href="@Url.Action("Index","PagoBenediciosSociales",new { Area = "RRHH" },null)">Cancelar</a>


    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


<script>


    $("#IdNomina_Tipo").change(function () {
        $("#IdNomina_TipoLiqui").empty();
             cargar_tipo_liquidacion_nomina();

        });

    $("#IdNomina_TipoLiqui").change(function () {
           $("#IdPeriodo").empty();
            cargar_periodos_x_nomina();
        });



        function cargar_tipo_liquidacion_nomina() {
            var datos = {
                IdNomina: $("#IdNomina_Tipo").val()
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("get_lst_nomina_tipo_liq","NominaTipoLiquidacion", new { Area = "RRHH" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $.each(data, function (i, row) {
                        $("#IdNomina_TipoLiqui").append("<option value=" + row.IdNomina_TipoLiqui + ">" + row.DescripcionProcesoNomina + "</option>");
                    });
                },
                error: function (error) {
                }
            });
        };

    function cargar_periodos_x_nomina() {
        var datos = {
            IdNomina: $("#IdNomina_Tipo").val(),
            IdNomina_Tipo: $("#IdNomina_TipoLiqui").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("get_lst_periodo_x_nomina","PeriodosPorNomina", new { Area = "RRHH" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $.each(data, function (i, row) {
                    $("#IdPeriodo").append("<option value=" + row.IdPeriodo + ">" + row.descripcion + "</option>");
                });
            },
            error: function (error) {
            }
        });
    };



</script>
